<section class="main-section">
  <h4 class="mt-3">Listen to the recording and answer the question by selecting all the correct responses. You will
    need
    to select more than one response.
  </h4>
  <ul class="nav nav-tabs pt-3" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="test1-tab" data-toggle="tab" href="#test1" role="tab" aria-controls="test1"
        aria-selected="true">Test
        1
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="test2-tab" data-toggle="tab" href="#test2" role="tab" aria-controls="test2" aria-selected="false">Test
        2
      </a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active pt-3" id="test1" role="tabpanel" aria-labelledby="test1">
      <div class="row">
        <div class="col-md-12 collapse" id="demo1">
          If you think about light bulbs, they're an enormous infrastructure. They're in every building in the world,
          more or less, they have kind of a privileged position above us, around us, they can see, if you think about
          it, you know, most parts of any room. The kind of key was to say, well, what if we consider a light bulb not
          to be a light bulb, but actually to be a digital projector. It just happens to be really low resolution. In
          fact, it's a one by one pixel digital projector. You turn on the wall switch and a giant pixel comes out and
          paints your room. OK, well, that's ludicrous, but what if you put a higher resolution projector inside that
          same familiar glass bulb? Well, now you have a device that can illuminate. If you turn on all the pixels the
          same color, you still have a light bulb in the usual sense. But if you turn on the pixels different amounts
          and different colors, then you're kind of projecting information out into the world. And if at the same time
          that you're doing that, you put a little tiny camera inside the bulb, then not only is information flowing
          out of the glass, but you're collecting optical information. So screw one of those into every one of these
          fixtures and suddenly you have a means potentially to put, display an interaction everywhere throughout the
          world.
        </div>
        <div class="col-md-7 mt-3">
          <audio controls>
            <source src="/assets/Prompts/2 Multiple choice choose multiple answers/Prompt_Multiple_choice_choose_multiple_answers_Item_1.mp3"
              type="audio/mpeg">
            Your browser does not support the audio element.
          </audio><br>
          <button (click)="showAnswers ? showAnswers=false : showAnswers=true" type="button" class="btn btn-primary mt-3"
            data-toggle="collapse" data-target="#demo1">Toggle Answers</button>
        </div>
        <div class="col-md-5">
          <p>The purpose of this talk is to</p>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">suggest ways to make indoor lighting more
              economical.
            </label>
          </div>
          <div *ngIf="showAnswers === true" class="mt-1">
            <b>Explanation</b> This response is incorrect. The speaker asks listeners to think about light bulbs and
            what
            could be done with them, but does not discuss this in terms of money.
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">illustrate how an everyday object could inspire
              new technology.
            </label>
          </div>
          <div *ngIf="showAnswers === true" class="mt-1">
            <b>Explanation</b> This response is correct. The speaker begins by considering a light bulb and what it
            does,
            and then imagines what could be done with it. As the speaker adds features to this imaginary light bulb, it
            changes from a low resolution projector, to a high resolution projector, to a device that projects and
            collects optical information.
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">persuade listeners to participate in a
              scientific
              study.
              population.
            </label>
          </div>
          <div *ngIf="showAnswers === true" class="mt-1">
            <b>Explanation</b> This response is incorrect because the speaker does not mention a scientific study.
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">describe an artistic exhibition using familiar
              items.
            </label>
          </div>
          <div *ngIf="showAnswers === true" class="mt-1">
            <b>Explanation</b> This response is incorrect. Art, art galleries, museums and exhibitions are not
            discussed
            in this recording.
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">encourage listeners to think creatively about
              mundane items.
            </label>
          </div>
          <div *ngIf="showAnswers === true" class="mt-1">
            <b>Explanation</b> This response is correct. The speaker invites listeners to think about light bulbs then
            talks about their use in an unusual way. The speaker goes on to discuss the light bulb in ways most people
            don’t think about: “they’re an enormous infrastructure,” “they have a kind of privileged position above
            us,”
            and that light bulbs each project one giant pixel that “paints” the room.
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade show pt-3" id="test2" role="tabpanel" aria-labelledby="test2">
      <div class="row">
        <div class="col-md-12 collapse" id="demo2">
          We are led to believe that basically much of eastern North America was heavily cloaked in mature forest,
          forest
          that today we covet as old growth, and yet at one time, it was the sort of ancestral, um, botanical blanket
          that
          covered much of certainly Massachusetts and New England. Certainly one of the first things that happened as
          increasing waves of colonists arrived was the need to clear the land, um, and this clearing of the land is
          something that started, um, really in the form of small, subsistence farms, uh, the timber was used for
          building
          houses, um for building ships, for firewood, for all manner of things. The boulders, the erratic, ah, the
          glacial
          erratic stones that were so much a part of the New England landscape, um, are today sort of, ah, what we find
          in
          the latticework of stone walls that one can find practically anywhere in the landscape, ah, if it's in a
          relatively untouched condition. By the early part of the ,ah, nineteenth century, ah, it's thought that
          generally
          the zenith of clearing had taken place, ah, sometime in the 1830s 1840s and the trees and the forests were
          essentially clear-cut, ah, to an extent that is almost unbelievable.
        </div>
        <div class="col-md-7 mt-3">
          <audio controls>
            <source src="/assets/Prompts/2 Multiple choice choose multiple answers/Prompt_Multiple_choice_choose_multiple_answers_Item_2.mp3"
              type="audio/mpeg">
            Your browser does not support the audio element.
          </audio><br>

          <button (click)="showAnswers2 ? showAnswers2=false : showAnswers2=true" type="button" class="btn btn-primary mt-3"
            data-toggle="collapse" data-target="#demo2">Toggle Answers</button>
        </div>
        <div class="col-md-5">
          <p>What happened as a result of the arrival of colonists?</p>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">Huge areas were deforested.
            </label>
          </div>
          <div *ngIf="showAnswers2 === true" class="mt-1">
            <b>Explanation</b> This response is correct. The speaker says that one of the first things that happened as
            increasing waves of colonists arrived was the clearing of the land. The speaker also says that sometime in
            the 1830s and 1840s, the trees and the forests were essentially clear-cut.
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">Old farming methods were abandoned.
            </label>
          </div>
          <div *ngIf="showAnswers2 === true" class="mt-1">
            <b>Explanation</b> This response is incorrect. Abandonment of old farming methods is not discussed in the
            recording.
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">Large expanses were planted with new species.
            </label>
          </div>
          <div *ngIf="showAnswers2 === true" class="mt-1">
            <b>Explanation</b> This response is incorrect because new species are not mentioned in the recording.
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">TStone quarries were depleted.
            </label>
          </div>
          <div *ngIf="showAnswers2 === true" class="mt-1">
            <b>Explanation</b> This response is incorrect. The speaker does not mention stone quarries in the
            recording.
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">Sections of land were delineated with stones.
            </label>
          </div>
          <div *ngIf="showAnswers2 === true" class="mt-1">
            <b>Explanation</b> This response is correct. The speaker says that the glacial erratic stones that were so
            much a part of the New England landscape are today ‘‘sort of’’ what can be found in the latticework of
            stone
            walls that one can find practically anywhere in the landscape. This implies that stones were used to
            delineate sections of land.
          </div>

        </div>
      </div>
    </div>
  </div>
  <app-disqus></app-disqus>
</section>