<section class="main-section">
  <h4 class="mt-3">You will hear a short report. Write a summary for a fellow student who was not present. You should
    write 50-70 words.
    You have 10 minutes to finish this task. Your response will be judged on the quality of your writing and on how
    well
    your response presents the key points presented in the report.
  </h4>
  <ul class="nav nav-tabs pt-3" id="myTab" role="tablist">
    <li class="nav-item" *ngFor="let i of [1,2]">
      <a class="nav-link" [ngClass]="{'active': i==1}" data-toggle="tab" [attr.href]="'#test' + i" role="tab"
        [attr.aria-controls]="'test' + i" aria-selected="true">
        Audio {{i}}
      </a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show pt-3  active" id="test1" role="tabpanel" aria-labelledby="test1">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <audio controls>
              <source src="/assets/Prompts/1 Summarize spoken text/Prompt_Summarize_spoken_text_Item_1.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
          </div>
          <div class="col-md-6">
            <button class="btn btn-sm btn-primary float-right" data-toggle="collapse" data-target="#ans1">Toggle
              Answer</button>
          </div>
          <div id="ans1" class="col-md-12 collapse">
            <p>
              <b>Transcript</b><br>
              Scientists are discovering that when you touch someone, you communicate very specific emotions such as
              sympathy, disgust, gratitude, or even love. The current issue of the scientific journal Emotion features
              a
              series of studies about touch. Reporter <b>Michelle Trudeau</b> touched base with the lead researcher.<br>
              <b>Michelle Trudeau</b>: Psychologist Matt Hertenstein from DePaul University in Green Castle, Indiana
              decided
              to study touch while he was watching parents interacting with their babies - making faces and cooing
              sounds,
              squeezing, stroking, nuzzling them.<br>
              <b>Mr. Matt Hertenstein</b> (DePaul University): And all of a sudden it struck me one day and I thought,
              you
              know, I wonder if touch can communicate distinct emotions, much like the face and the voice. <br><b>Michelle
                Trudeau</b>: Decades of research has been done on the face and the voice and the distinct emotions that
              they
              communicate. But touch has been relatively neglected by researchers until Hertenstein stepped in and
              began
              his
              experiments.<br>
              <b>Mr. Matt Hertenstein</b>: We invited two participants into the lab. And we put a curtain up between
              those
              two people.<br>
              <b>Michelle Trudeau</b>: So they couldn't see or hear each other. One participant, the sender, was told
              to
              try
              and communicate twelve different emotions, one by one, to the other participant, the receiver.<br> <b>Mr.
                Matt
                Hertenstein</b>: The receiver would put his or her arm underneath the curtain, on to the sender's side.<br>
              <b>Michelle Trudeau</b>: The sender would then touch the receiver's forearm, trying to communicate the
              specific
              emotion, such as envy, fear, love, embarrassment, anger, gratitude, pride, disgust. The receiver had to
              then
              decide which emotion was being communicated.<br>
            </p>
            <h4>Sample summary</h4>
            <p><i>It is believed that touch can communicate a wide range of specific emotions. Touch has been ignored
                by
                researchers in the past, and has not been focused on until recently. A person describes an experiment
                carried
                out into touch and emotion to prove that touch can communicate a range of specific feelings.</i></p>

            <h4>Sample Responses</h4>
            <h5>Response 1</h5>
            <p><i>Scientists have researched that touch has more emotional signals to human’s feeling, even stronger
                than
                hear
                and see, for we see or hear people, we may not feel much. Scientists have done an experiment involved
                in
                two
                participants, one can see and hear each other, while the other can only touch the other one, they found
                that
                through touch people can feel more about human’s feeling, like envy, love, etc,.</i></p>
            <b>Explanation:</b>
            <p>While the response contains information related to the lecture, the test taker misrepresents the main
              point,
              leading the reader to believe the lecture is about an experiment which proved the importance of touch
              over
              sight and sound. This response demonstrates poor grammar control; verbs and nouns are improperly formed
              and
              several prepositions are missing. The vocabulary is basic and imprecise. Spelling is fine. The word count
              is 70
              words.</p>
            <h5>Response 2</h5>
            <p><i>Research shows emperical evidence on the role of touch in communicating emotion like gratitute, love,
                anger. It can be observed through parents making face, cuddling their children. One experiment has been
                made
                with 2 participants, one the sender and the other the receiver of touch. They are separated by a
                curtain
                and
                the sender is asked to touch the receiver to communicate 12 types of emotions likes anger, love,
                digusting.</i></p>
            <b>Explanation:</b>
            <p>In this response the main point has been discussed and supporting points are included. It demonstrates
              weak
              grammar control, which hinders understanding. The vocabulary used is appropriate for the context. There
              are
              several spelling errors. The word count is 70 words.</p>
            <h5>Response 3</h5>
            <p><i>Touch has been neglected as an avenue of communicating distinct emotions, relative to studies
                involving
                facial and vocal communication. The journal Emotion featured studies involving touch. One researcher
                was
                motivated to study after seeing how parents and babies use physical contact in addition to facial and
                vocal
                expressions to communicate with one another. In one study, the sender was asked to communicate twelve
                distinct emotion, e.g. fear and love.</i></p>
            <b>Explanation:</b>
            <p>This response is an accurate and detailed summary of the main point and several supporting points
              discussed.
              The grammar follows standard conventions. The vocabulary used is appropriate for the context. There are
              few
              spelling errors. The word count is 68 words.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade show pt-3" id="test2" role="tabpanel" aria-labelledby="test2">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <audio controls>
              <source src="/assets/Prompts/1 Summarize spoken text/Prompt_Summarize_spoken_text_Item_2.mp3" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
          </div>
          <div class="col-md-6">
            <button class="btn btn-sm btn-primary float-right" data-toggle="collapse" data-target="#ans2">Toggle
              Answer</button>
          </div>
          <div id="ans2" class="col-md-12 collapse">
            <p>
              About 20 years ago Kent Anger and Barry Johnson came up with 750 chemicals that could harm the brain
              during
              development. Nobody has since then dared to update that number, it's just a guess today, there has to be
              more than a thousand if there was 750 twenty years ago. But the problem is also that we have put too
              little
              emphasis in this type of, uh, research.
              For example, it has taken so far the OECD 10 years to devise a battery of tests that they could recommend
              for systematic testing of chemicals for developmental neurotoxicity. That panel, that battery, has not
              yet
              been completed and authorized by OECD so it's taking way, way, way too long because it is complicated.
              But
              there is so much at stake.
              Children are just losing IQ points and losing their concentration span, memory or motor functions. But in
              the present world where there's so much emphasis on knowledge and brain functions this can also translate
              into dollars. The EPA has calculated that every time a child loses one IQ point because of chemical
              pollution it costs society something like $8,000 or $10,000.
            </p>
            <h4>Sample summary</h4>
            <p><i>About twenty years ago, it was estimated that there are 750 chemicals that can affect the developing
                human brain, and today there may be over 1000. There is little emphasis on the possible damage caused
                to
                developing children from these chemicals. It has taken the OECD ten years to develop an index to test
                for
                developmental neurotoxicity. Economically, each IQ point lost to chemical poisoning has an impact of
                $8,000-$10,000.</i></p>

            <h4>Sample Responses</h4>
            <h5>Response 1</h5>
            <p><i>The lecture mentions chemical test for brain development. There are 2 level of chemical test. The
                first
                one is conducted by OECD on the systematic test chemical. They found that it takes a long time and too
                compicated for this test. The second is carried out by EPA which tried to find out some chemical
                solution.</i></p>
            <b>Explanation:</b>
            <p>While the response contains information related to the lecture, the test taker misrepresents the main
              point,
              leading the reader to believe the lecture is about an experiment which proved the importance of touch
              over
              sight and sound. This response demonstrates poor grammar control; verbs and nouns are improperly formed
              and
              several prepositions are missing. The vocabulary is basic and imprecise. Spelling is fine. The word count
              is 70
              words.</p>
            <h5>Response 2</h5>
            <p><i>About 20 years ago, scientists came up with 750 chemicals that could harm the brain. It might be more
                than that nowadays. Research on the harmful chemicals is complicated and could take too long. Chemical
                pollution has various effects on children, for example loss of concentration span, memory and IQ
                points.</i></p>
            <b>Explanation:</b>
            <p>While the response includes some main points, other key information from the passage is omitted. This
              response demonstrates good control of grammar. The use of vocabulary is appropriate within the context.
              There are no spelling mistakes. The word count is 51 words.</p>
            <h5>Response 3</h5>
            <p><i>20 years ago, the list of chemicals which affected brain development was numbered at 750. Today, this
                number has increased to about 1000. There is insufficient research on the testing of such chemicals by
                OECD. These chemicals cause harmful effects like the lost of IQ, concentration, memory and motor
                functions. It is estimated that for every lost IQ point of a child, society stands to lose 8,000 to
                10,000 dollars.</i></p>
            <b>Explanation:</b>
            <p>The response is an accurate and detailed summary of the main point and several supporting points
              discussed
              in the lecture. The grammar follows standard English conventions. The vocabulary used is appropriate for
              the context. There are no spelling mistakes. The word count is 70 words.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-disqus></app-disqus>
</section>