<section class="tips-section mt-5 p-5">
  <h4>List of Essays</h4>
  <ol>
    <li>Do you think consumer should avoid over packed products or it is responsibility of producer to
      avoid extra packaging of products?
      <i>Give your views or any relevant example with your own
        experience.</i></li>
    <li>Many people think regions affect successful persons. What is your opinion about native regions
      and accomplished person influence on the regions they belong to.</li>
    <li>The environment we are living in is in danger due to various problems...so who do u think
      should be responsible to solve it? Is it the governments, organisation or each individuals?</li>
    <li>Nowadays TV has become an essential part of life. Medium to spread news & awareness and for some
      it acts like a companion. What is your opinion about this?
      OR
      Nowadays, the mass media including TV, radio and newspaper have become the essential part of our
      lives. What is your opinion? </li>
    <li>Company Top level Authorities should or should not take employees suggestions or ideas to
      take any decisions. Discuss </li>
    <li> Successful sports stars and glamorous film stars are a role model for youngsters. Do u support it or
      not? (Agree/Disagree) </li>
    <li>In education system, assessment through written formal examinations is valid or not.
      OR
      Do you think that formal written examinations are a good way to assess knowledge at school? </li>
    <li>Large shopping malls are replacing small shops. What is your opinion about this? Discuss with
      appropriate examples. </li>
    <li>Nowadays, people spend too much time at work to the extent that they hardly have time for their
      personal life. Discuss.</li>
    <li>Talk about the pros/ cons of this era as is full of daily inventions.</li>
    <li>ANY NEW TECHNOLOGICAL DEVELOPMENT IN THE RECENT YEARS IS A BOON OR CURSE FOR THE
      SOCIETY IN GENERAL
      OR
      Any recent invention that you think proved beneficial or detrimental to society</li>
    <li> It is argue that getting married before finishing school or getting a job is not a good choice. To what
      extent do you agree or disagree?
      OR
      It is usually foolish to get married before completing your studies and getting established in a good job?
      Do you agree or disagree". </li>
    <li> Parents should be held legally responsible for their children’s acts. What is your opinion? Support it
      with personal examples.</li>
    <li>Marketing strategy for big companies should be placed on offer and discounts, and in what ways this
      can impact on their reputation. </li>
    <li>What is the best invention of last 100 years, computer, antibiotics, airplane, and explain why.
      OR
      What are the greatest inventions of the 20th century among medicine, aeroplane and computers, why? </li>
    <li> Dangerous activities like extreme skiing, bungee jumping etc. and whether u support them or not
      OR
      Pros and Cons of expreme/adventure sports.-
      OR
      People pursue dangerous activities like sky diving, motorcycle sports, white-water river rafting etc. Do
      you support? If yes, why and if not, why? </li>
    <li>Do you think that place where the person grew has an influence on his accomplishments? Explain
      with example. </li>
    <li>Climate change and about the roles that Government, Corporates and Individuals can play to
      improve it.</li>
    <li>Nowadays TV has become an essential part of life. Medium to spread news & awareness and for
      some it acts like a companion. What is your opinion about this?</li>
    <li>Some people believe laws change human behaviour. Do you agree with it? </li>
    <li>Illiterate of the future would not be one who does not know to read, but people who does not know
      how to learn
      OR
      The illiterate of the 21st century will not be those who cannot read and write, but those who cannot
      learn, unlearn, and relearn. Agree or Diagree? OR
      'In future illiterate will not be those who cannot read, but those who do not learn' - By some writer.
      Discuss what do you understand by this statement and state your reason. </li>
    <li> Positive and negative effects of the information revolution through mass media.
      OR
      Information revolution has changed the way of mass communications and had some negative and
      positive effects on individual lives as well as on society. To what extent do you agree or disagree?
      OR
      Information revolution has changed the ways of mass communication and had some negative and
      positive effects on individuals’ lives as well as on society. To what extent you are agree or disagree ? </li>
    <li>Talk about the pros/ cons of this era as is full of daily inventions </li>
    <li>Imitating celebrities in sports and movies is good or bad </li>
    <li>Learning a new language at an early age is helpful for children. Is it more positive for their future
      aspect or have some adverse effects. Do u agree or disagree? Give examples from your experience. </li>
    <li>In under developed countries, tourism has disadvantages and can be said the opposite as well. </li>
    <li>Communication has changed significantly in the last 10 years. Discuss the positive and negative
      impacts of this change. </li>
    <li>Education is the biggest barrier in my learning - Einstein. What do you mean by this? And do you
      think Einstein was correct in saying that. </li>
    <li>Positive and Negative effects of today's communication.</li>
    <li> Discuss both sides of Space travel vs. current crucial problems faced by human?
      OR
      The space tavel is fantastic these day and they are very fascinate towards its but there are many
      environmental problems in our planet we should resolve the problems or travel space and spend alot of
      money </li>
    <li> Do you think English will remain to be a global language despite globalisation? </li>
    <li> Some people think placing advertisements in schools is a great resource for public schools that need
      additional funding, but others think it exploits children by treating them as a captive audience for
      corporate sponsors. Choose which position you most agree with and discuss why you chose that
      position. Support your point of view with details from your own experiences, observations or reading. </li>
    <li> Television has many useful functions to play in everyone's life, for some its relaxation, for some it is
      companion. Discuss your viewpoint and support your answer with examples and discussion point. </li>
    <li> You are given climate as the field of study. Which area will you prefer? Explain why you picked up
      the particular area for your study?</li>
    <li>“In a war of ideas, it is people who get killed”. Does a common man suffer from a group’s ideology?
      Express your opinion, and support the same with reasons and examples. </li>
    <li>"Value added by travel in Education Is travel a necessary component of education or not ? Will
      scholar sitting at home have more knowledge than one who travels ? " </li>
    <li>Travel to study is over rated, we have brilliant scholars who studied locally. Is travel really required
      for higher studies? </li>
  </ol>
  <app-disqus></app-disqus>
</section>