<section class="main-section">
  <h4 class="mt-3">Read the text and answer the multiple-choice question by selecting the correct response. Only one
    response
    is correct.</h4>
  <ul class="nav nav-tabs pt-3" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="test1-tab" data-toggle="tab" href="#test1" role="tab" aria-controls="test1"
        aria-selected="true">Test
        1
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="test2-tab" data-toggle="tab" href="#test2" role="tab" aria-controls="test2" aria-selected="false">Test
        2
      </a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active pt-3" id="test1" role="tabpanel" aria-labelledby="test1">
      <p>The approach to the methodology of learning and teaching has to be comprehensive, presenting all options in an
        explicit
        and transparent way, and avoiding advocacy or dogmatism. It has been our fundamental methodological principle
        that
        the methods to be employed in language learning, teaching and research are those considered to be most
        effective in
        reaching the objectives agreed in the light of the needs of the individual learners in their social context.
        Effectiveness
        is contingent on the motivations and characteristics of the learners as well as the nature of the human and
        material
        resources which can be brought into play.
      </p>
      <div class="row">
        <div class="col-md-12">
          <p>What point is the writer making in this paragraph?</p>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio"> Motivation is worth more than intelligence
              in learning.
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio"> Language can be effectively learnt through
              play.
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio"> There is no single best method for learning
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio"> Teachers should regularly change their
              methods.
            </label>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12">
          <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo1">Show Answers</button>
          <div id="demo1" class="collapse mt-3">
            <div>
              <b>Incorrect</b> Motivation is worth more than intelligence in learning.<br>
              <b>Explanation</b> This response is incorrect because the passage does compare the impact of motivation
              and intelligence
              on learning.
            </div>
            <div class="mt-3">
              <b>Incorrect</b> Language can be effectively learnt through play.<br>
              <b>Explanation</b> This response in incorrect. The writer uses the phrase “brought into play”
              figuratively to
              refer to the “material resources” which can be used. The text does not suggest a method of language
              teaching.
            </div>
            <div class="mt-3">
              <b>Correct</b> There is no single best method for learning.<br>
              <b>Explanation</b> This response is correct because the writer consistently uses plurals when discussing
              methodology
              as in “presenting all options” and “the methods to be employed ... are those considered to be most
              effective.”
              This indicates that there is more than one method.
            </div>
            <div class="mt-3">
              <b>Incorrect</b> Teachers should regularly change their methods.<br>
              <b>Explanation</b> This response is incorrect. The passage discusses factors to consider in the selection
              of
              teaching methods but does not address how frequently to change these methods.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade show pt-3" id="test2" role="tabpanel" aria-labelledby="test2">
      <p>In many ways Britten's most ambitious effort is the War Requiem of 1961, a flawed but still impressive work
        for chorus,
        soloists, and orchestra. It weaves together the traditional Latin Mass for the Dead with antiwar poems by
        Wilfrid Owen,
        a young officer killed in World War I. The point of War Requiem is how the words of the liturgical text are
        reinterpreted
        and often rendered hollow by the realities of death in war. In this work we see Britten's prodigal
        inconsistencies
        on display. For all its problems, the War Requiem will probably survive as one of our time's most impassioned
        indictments
        of war and its heroic myth.
      </p>
      <div class="row">
        <div class="col-md-12">
          <p>Which of the following most accurately summarizes the opinion of the author in the text?</p>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio"> He finds the weaving together of the Latin
              Mass
              and antiwar poems to be quite effective.
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio"> He is critical of Britten's inconsistencies
              as
              observed in the War Requiem. play.
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio"> He admires the War Requiem of Britten but
              finds
              it far from perfect.
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio"> He questions whether Britten's work will
              endure.
            </label>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12">
          <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo2">Show Answers</button>
          <div id="demo2" class="collapse mt-3">
            <div>
              <b>Incorrect</b> He finds the weaving together of the Latin Mass and antiwar poems to be quite effective.<br>
              <b>Explanation</b> This response is incorrect. Although the passage mentions that Britten’s work weaves
              together
              the Latin Mass for the Dead and antiwar poems, it does not comment on the effectiveness of this
              combination.
            </div>
            <div class="mt-3">
              <b>Incorrect</b> He is critical of Britten's inconsistencies as observed in the War Requiem.<br>
              <b>Explanation</b> This response is incorrect. The author recognizes inconsistencies and flaws in the
              work, yet
              still praises the War Requiem as “one of our time’s most impassioned indictments of war.”
            </div>
            <div class="mt-3">
              <b>Correct</b> He admires the War Requiem of Britten but finds it far from perfect.<br>
              <b>Explanation</b> This response is correct. The writer describes Britten’s War Requiem as “impressive”
              and gives
              details of what the work accomplishes. However, the writer also describes the work as “flawed” and refers
              to
              the work’s “prodigal inconsistencies” and “all its problems.”
            </div>
            <div class="mt-3">
              <b>Incorrect</b> He questions whether Britten's work will endure.<br>
              <b>Explanation</b> This response is incorrect. The writer hypothesizes that the work will endure by
              stating,
              “... the War Requiem will probably survive.”
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-disqus></app-disqus>
</section>