<section class="main-section">
<h4 class="mt-3">You will have 20 minutes to plan, write and revise an essay about the topic below. Your response will be judged on how
  well you develop a position, organize your ideas, present supporting details, and control the elements of standard written
  English. You should write 200-300 words.</h4>
<p>Tobacco, mainly in the form of cigarettes, is one of the most widely-used drugs in the world. Over a billion adults legally
  smoke tobacco every day. The long term health costs are high - for smokers themselves, and for the wider community in terms
  of health care costs and lost productivity. Do governments have a legitimate role to legislate to protect citizens from
  the harmful effects of their own decisions to smoke, or are such decisions up to the individual?
</p>
<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Toggle Answers</button>
<div id="demo" class="collapse">
  <div class="row">
    <div class="col-md-12">
      <h4 class="mt-3">Answer 1</h4>
      <i>Cigarettes is one kind of tobacco which actually is one of the most widely-used drugs in the world. It is common
        in our everyday lives for that there are so many people smoking. However, nowadays more and more people pay much
        attention to their healthes, so the concept of “Smoking is unhealthy” is accepted by most people who reject in smoking.
        But there are still over a billion adults legally smoke tobacco every day that will costs a lot both for smokers
        themselves and for the wider community in terms of health care costs and lost productivity. Do governments have a
        legitimate role to legislate to protect citizens from the harmful effects of smoking? The answer will be yes for
        most of people. The first, smoking will do harm for smokers’ health. The second, somking will do harm for people
        who are around smokers such as families. And smoking is always a lead of a fire desaster. There are many reasons
        to restrict smoking. The point is how to do this. We know that every policy will make a consequence. If government
        shut down the tobacco facotories, it will definitely increase the price of cigarettes which will affect smokers—over
        a billion people—heavily because they won’t change their habit just because there are fewer cigarettes. So I think
        the government should guide these people.</i>
      <h5 class="mt-3">Explanation</h5>
      <p>This essay minimally answers the question on the topic. The details and examples do not follow a well-developed
        logic that supports the test taker’s position on the topic. The essay does not have a good organizational pattern.
        The introduction rephrases the topic, the body contains minimal supporting points and the conclusion is unfinished.
        This essay does not receive full credit for grammar usage and spelling because of missing or incorrect use of verbs
        and nouns. The vocabulary is limited and imprecise. Some words are not appropriate for the context. Spelling errors
        are numerous. The word count is 227 words.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4 class="mt-3">Answer 2</h4>
      <i>These days, statistics have shown that all around the world, over a billion adults legally smoke tobacco every day.
        Also, these numbers are expected to increase if nothing is done. It takes two to stop the numbers arising and therefore,
        the government and the smokers have to cooperate to make the country smoke-free. The government should control the
        amount of smokers as the rising numbers could cause lost productivity and an increase in the crime rate. Campaigns
        should be created and advertisements using the mass media can actually help the smokers realize the disadvantages
        of smoking. Besides that, smokers should also learn the gruesome facts on smoking. They should also realize that
        there’s more to life than just smoking and that people near and dear to them could be affected from their habit.
        Studies have shown that people who have family members who are smokers can actually contract diseases such as cancer
        and other lung diseases. Moreover, the increase in the number of smokers can actually mean that there would probably
        be an increase in crime rates as well. Smoking would then lead to other dangerous issues like drugs, prostitution,
        theft and even murder. Therefore, the government should act immediately to avoid further damage to society. 7 Certain
        smokers who want to quit can find it hard to do so and this is when the government’s help can come in handy. That
        is by increasing the age limit for adolescents to smoke, increasing tax on tobacco products to make it a lot more
        expensive and also to provide support gropus for smokers who wish to quit. In a nutshell, smoking is indeed a problem
        to the nation and it takes two to work it out. The government and the smokers themselves should work side by side
        to solve this issue.

      </i>
      <h5 class="mt-3">Explanation</h5>
      <p>This essay answers the question on the topic and is well organized. There is a clear introduction, body and conclusion.
        In the body, the main ideas and details relate to the main point of the essay. However, some main ideas are not well
        supported with details, examples or explanations. There are obvious grammatical errors in sentences with complex
        structures. However, most grammatical errors do not hinder communication. Imprecise vocabulary prevents the response
        from receiving full credit for general linguistic range. The vocabulary range is good and clichés are used sparingly.
        There are no significant spelling errors. The word count is 299 words.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4 class="mt-3">Answer 3</h4>
      <i>Tobacco is one of the most widely-used drugs of the world. Over a billion adults legally smoke tobacco every day.
        Tobacco is slowing taking a billion people in the world towards doom. The long term health costs are high for smokers,
        who suffer from various heart and lung diseases, reduced concentration and continually diminishing immunity. Non-smokers,
        accompanying smokers or those who are in their close vicinity, also become “Passive” smokers and bear the toll of
        various inevitable diseases as they inhale the smoke which has an ill- effect on their respiratory systems. Thus,
        the health costs are high—for smokers themselves, and for wider community in terms of health care costs and lost
        productivity. There has been awareness among people from many years, about the ill-effects of smoking and various
        campaigns run by the government, NGOs and local bodies to encourage people to quit smoking but the result have not
        been impressive. The solution is to nip the problem in the bud. School authorities and parents should keep a close
        eye so that children don’t start to smoke because they think it is “cool”. They should be made aware about the harmful
        effects of smoking. Government could play a vital role too. Smoking should not be high-hand in advertisements and
        movie commercials which have a huge impact on people. It could levy high taxes on tobacco products to keep people
        away from its reach. Rules for checking children buying such products should be made stringent. The onus to protect
        from such products also lie on individuals as will-power always does the trick. The knowledge of importance of being
        healthy has to be realized from within. It goes a long way to check the problem. Thus, the solution requires both
        legitimate action of Government and strong individual decisions to eliminate the problem.</i>
      <h5 class="mt-3">Explanation</h5>
      <p>This essay answers the question on the topic. The roles of the government and the individual are well explained
        and supporting details are provided. There is good development of ideas and a logical structure. The main ideas are
        introduced in the first paragraph and the test taker’s answer to the question is restated in the conclusion. General
        linguistic range and vocabulary range are excellent. The vocabulary is precise and expresses subtleties and nuances.
        Idioms are also used appropriately. Minor grammatical errors prevent this response from receiving full credit for
        grammar usage and mechanics, although the intended meaning of the sentences is clear. Spelling is excellent. The
        word count is 300 words.</p>
    </div>
  </div>
</div>
<app-disqus></app-disqus>
</section>