<section class="main-section">
  <h1 class="mt-3">Listening</h1>
  <p>This part of the test consists of questions that are based on audio or video clips. Each audio or video clip is
    heard only once and notes can be taken.</p>
  <table class="table">
    <thead>
      <tr>
        <th>Section</th>
        <th>Item type</th>
        <th>Time Allowed</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Section 1</td>
        <td><a href="" routerLink="/summarize-spoken-text">2 or 3 Summarize spoken text</a></td>
        <td>20 or 30 minutes</td>
      </tr>
      <tr>
        <td rowspan="7">Section 2</td>
        <td><a href="" routerLink="/listening-mc-answers">Multiple-choice, choose multiple answers</a></td>
        <td rowspan="7">22-28 minutes</td>
      </tr>
      <tr>
        <td><a href="" routerLink="/listening-fill-blanks">Fill in the blanks</a></td>
      </tr>
      <tr>
        <td><a href="" routerLink="/highlight-correct-summary">Highlight correct summary</a></td>
      </tr>
      <tr>
        <td><a href="" routerLink="/listening-mc-single-answer">Multiple-choice, choose single answer</a></td>
      </tr>
      <tr>
        <td><a href="" routerLink="/select-missing-word">Select missing word</a></td>
      </tr>
      <tr>
        <td><a href="" routerLink="/highlight-incorrect-words">Highlight incorrect words</a></td>
      </tr>
      <tr>
        <td><a href="" routerLink="/write-from-dictation">Write from dictation</a></td>
      </tr>
    </tbody>
  </table>
  <h2>Listening & Writing: Summarize spoken text</h2>
  <p>For this item type you hear an audio
    recording and need to write a 50-70
    word summary on what you heard.
    You have 10 minutes to write your
    summary.
    The audio begins to play automatically.
    You are only able to listen to the audio
    recording once.
    The Word Count at the bottom of the
    screen counts the number of words you
    write. Make sure to write a minimum of
    50 words, but no more than 70
    words.
    There are also cut, copy and paste
    buttons which you may choose to use
    while constructing your summary.
    Cut: Select text from your answer that
    you wish to remove and left-click “Cut”.
    Copy: Select text from your answer that
    you wish to copy and left-click “Copy”.
    Paste: Place the cursor where you wish
    to paste the cut/copied text and left-click
    “Paste”.</p>
  <h2>Listening: Multiple-choice, choose multiple answers</h2>
  <p>For this item type you need to listen
    to the recording and answer the
    multiple-choice question. There is
    more than one correct response.
    The audio begins to play automatically.
    You are only able to listen to the audio
    recording once.
    You need to select all the response
    options that you think are correct from
    the list of possible options.
    To select an option click on it using the
    left button on your mouse. If you change
    your mind, left-click on the option again
    to deselect it.
    The options you select are highlighted in
    yellow.</p>
  <h2>Listening & Writing: Fill in the blanks</h2>
  <p>For this item type you are presented
    with a transcript of the audio
    recording, however some words are
    missing. Restore the transcript by
    typing in the missing words.
    The audio plays automatically. You are
    only able to listen to the audio recording
    once.
    Left-click on each gap and type in the
    missing word. You can also use the Tab
    button on the keyboard to move between
    gaps.
    Note: While the audio is playing, you can
    take notes on the erasable noteboard
    provided and then fill in the gaps.</p>
  <h2>Listening & Reading: Highlight correct summary</h2>
  <p>For this item type you need to select
    the summary that best matches the
    recording.
    The audio begins to play automatically.
    You are only able to listen to the audio
    recording once.
    There are several possible response
    options but only one is correct.
    To select an option click on it using the
    left button on your mouse. If you change
    your mind, left-click on the option again
    to deselect it, or left-click on a different
    option.
    The option you select is highlighted in
    yellow.
    Note: It may be difficult to read and
    listen at the same time. It is
    recommended that you listen first, make
    notes on the erasable noteboard and
    then read the summaries.</p>
  <h2>Listening: Multiple-choice, choose single answer</h2>
  <p>For this item type you need to
    listen to the recording and answer
    the multiple-choice question.
    The audio begins to play automatically.
    You are only able to listen to the audio
    recording once.
    There are several possible response
    options but only one is correct.
    To select an option click on it using the
    left button on your mouse. If you
    change your mind, left-click on the
    option again to deselect it, or left-click
    on a different option.
    The option you select is highlighted in
    yellow.</p>
  <h2>Listening: Select missing word </h2>
  <p>For this item type the last word or
    group of words in the recording has
    been replaced by a beep. Select the
    most appropriate option to complete
    the recording.
    The audio begins to play automatically.
    You are only able to listen to the audio
    recording once.
    There are several possible response
    options but only one is correct.
    To select an option click on it using the
    left button on your mouse. If you change
    your mind, left-click on the option again
    to deselect it, or left-click on a different
    option.
    The option you select is highlighted in
    yellow.</p>
  <h2>Listening & Reading: Highlight incorrect words</h2>
  <p>For this item type you are presented
    with a transcript of the audio
    recording, however the transcript
    contains some errors. While
    listening and reading, you need to
    select the words in the text that
    differ from what the speaker says.
    The audio begins to plays automatically.
    You are only able to listen to the audio
    recording once.
    To select a word click on it using the left
    button on your mouse. If you change
    your mind, left-click on the word again
    to deselect it.
    The words you select are highlighted in
    yellow.</p>
  <h2>Listening & Writing: Write from dictation</h2>
  <p>For this item type you hear a short
    sentence. Type the sentence into the
    response box at the bottom of the
    screen.
    The audio begins to play automatically.
    You are only able to listen to the audio
    recording once.
    Note: While the audio is playing, you can
    take notes on the erasable noteboard
    provided.
    Remember to check your spelling.</p>
</section>