<section class="mt-5 p-5">
  <h4>Sample Summaries</h4>
  <ol>
    <li>
      <p>Many people have problems with irony, both in their everyday lives and as it is used or deployed in
        literature. We learn early on at school about “dramatic irony”, that is, we are told, when the audience of a
        play is aware of some situation or circumstance, or has information that one or more characters in the play do
        not. If you like, you are sharing a secret with the writer - you are in the know. Perhaps, as you go about your
        daily business, irony is not so clear-cut.
        <br><br>
        Here’s an example: your neighbour draws your attention to how lovely the dandelions and daisies growing in your
        lawn are. Now, to someone not familiar with the care and attention many English people give to their gardens,
        this might need a bit of explanation. Lawns are grass and are cut and rolled regularly so that a professional
        golfer could practice his putting on it. Daisies and dandelions are weeds. For a moment - but just for a moment
        -you wonder how serious your neighbour is being. Does he really think the weeds are lovely or is he telling you
        - in a rather superior way - that you’re a lousy gardener?
        <br><br>
        Irony, however, usually needs an audience and not only does it need some people to get the point, it also very
        much needs there to be people who don’t. There is, it has to be said, a rather undemocratic air of superiority
        about it.
        <br><br>
        Irony is slippery, sometimes difficult to get a firm hold on, and can easily backfire, like a joke that falls
        flat. Those who don’t like irony - usually those who don’t get the point - argue that, in a world that is
        already difficult enough to deal with, why should we want to complicate things further? Why throw everything
        you say into doubt? Besides, there’s an unpleasant air of intellectual snobbery about it, and that sort of
        thing doesn’t go down well any more.</p>
      <h4>Summary</h4>
      <p>Irony is a vague expression which always requires audience and control but a lot of people don't like it
        especially those who fail to understand it and claim it makes life complicated by giving a wrong sense of
        intellectual superiority to some people who use irony.</p>
    </li>
    <li>
      <p>When people describe themselves as ‘tone deaf’, ‘having no rhythm’ or ‘no ear for music’, they generally think
        of these things as defining characteristics. They are talents you are born with or not. However, there is a
        variety of research on skill development which questions this. Carol Dweck’s research shows that people who
        believe that skill can be developed will be far more successful, evidence supporting the old saying, ‘Whether
        you believe you can or can’t, you’re right.’
        Along similar lines, Anders Ericsson found that what separates the experts from the amateurs in any field is
        about 10,000 hours of deliberate practice. The most important lesson, of course, is that change is possible.
        People can become something they aren’t and change who they are. Talent, even one like music, can be
        cultivated. However, this is not to say that natural talent does not exist.
        One often overlooked study by Edwin Gordon showed that talent accounted for about half the differences in
        musical skill development in a group of students after three years of studying. So although anyone can become a
        musician, not everyone can become the best musician.</p>
      <h4>Summary</h4>
      <p>Many researches support the view that talents such as music can be developed by voluntarily practice and
        learning, however, to become an extraordinary musician, a natural hidden talent is required but still a lot of
        skills can be learnt by believing that the change is feasible.</p>
    </li>
  </ol>
</section>