<section class="main-section">
  <h1 class="mt-3">Reading</h1>
  <p>The item types included in this part of the test are.</p>
  <table class="table">
    <thead>
      <tr>
        <th>Item type</th>
        <th>Time Allowed</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="" routerLink="/mc-single-answer">Multiple-choice, choose single answer</a></td>
        <td rowspan="5">32-41 minutes</td>
      </tr>
      <tr>
        <td><a href="" routerLink="/mc-multiple-answers">Multiple-choice, choose multiple answers</a></td>
      </tr>
      <tr>
        <td><a href="" routerLink="/reorder-paragraphs">Re-order paragraphs</a></td>
      </tr>
      <tr>
        <td><a href="" routerLink="/reading-fill-blanks">Reading: Fill in the blanks</a></td>
      </tr>
      <tr>
        <td><a href="" routerLink="/rw-fill-blanks">Reading and writing: Fill in the blanks</a></td>
      </tr>
    </tbody>
  </table>
  <h2>Reading: Multiple-choice, choose single answer</h2>
  <p>For this item type you need to read
    the passage and answer the
    multiple-choice question.
    There are several possible response
    options but only one is correct.
    To select an option click on it using the
    left button on your mouse. If you change
    your mind, left-click on the option again
    to deselect it, or left-click on a different
    option.
    The option you select is highlighted in
    yellow.</p>
  <h2>Reading: Multiple-choice, choose multiple answers</h2>
  <p>For this item type you need to read
    the passage and answer the
    multiple-choice question. There is
    more than one correct response.
    You need to select all the response
    options that you think are correct from
    the list of possible options.
    To select an option click on it using the
    left button on your mouse. If you change
    your mind, left-click on the option again
    to deselect it.
    The options you select are highlighted in
    yellow.</p>
  <h2>Reading: Re-order paragraphs</h2>
  <p>For this item type you need to
    restore the original order of the text
    by selecting text boxes and dragging
    them across the screen.
    There are two ways you can move the
    text:
    1. Left-click on a box to select it (it will
    be outlined in blue), hold the left mouse
    button down and drag it to the desired
    location.
    2. Left-click on a box to select it, and
    then left-click on the left and right arrow
    buttons to move it across. On the right
    panel, you can also use the up and down
    arrow buttons to re-order the boxes.
    To deselect a box, left-click elsewhere on
    the screen.</p>
  <h2>Reading: Fill in the blanks</h2>
  <p>For this item type you need to drag
    and drop words across the screen
    to correctly fill in the gaps in the
    text.
    There is a passage with some missing
    words. You have a list of words in the
    blue box that you can use to fill the
    gaps in the text. There are more
    words than gaps so you will not use
    all the words provided.
    Left-click on a word to select it; keep
    the left mouse button held down and
    drag the word to the gap where you
    want to place it. You can also drag
    words between gaps. To remove a word
    from a gap, drag it back to the blue
    box.</p>
  <h2>Reading & Writing: Fill in the blanks</h2>
  <p>For this item type you need select
    the most appropriate words from a
    drop-down list to restore the text.
    There is a passage with some missing
    words. Beside each gap, there is a
    button with a drop-down list. Left-click
    on this button to reveal the drop-down
    list of options for that gap. Select the
    option you think best fills the gap.
    To change your mind, left-click on a
    different option. </p>
</section>