<section class="main-section">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- ad-unit-1 -->
  <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1899131341714198" data-ad-slot="5427942260"
    data-ad-format="auto" data-full-width-responsive="true"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  <h4 class="mt-3">Look at the text below. In 40 seconds, you must read this text aloud as naturally and clearly as
    possible.
    You have 40 seconds to read aloud.</h4>
  <ul class="nav nav-tabs pt-3" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="test1-tab" data-toggle="tab" href="#test1" role="tab" aria-controls="test1"
        aria-selected="true">Test
        1
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="test2-tab" data-toggle="tab" href="#test2" role="tab" aria-controls="test2" aria-selected="false">Test
        2
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="test3-tab" data-toggle="tab" href="#test3" role="tab" aria-controls="test3" aria-selected="false">Test
        3
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="test4-tab" data-toggle="tab" href="#test4" role="tab" aria-controls="test4" aria-selected="false">Test
        4
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="test5-tab" data-toggle="tab" href="#test5" role="tab" aria-controls="test5" aria-selected="false">Test
        5
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="test6-tab" data-toggle="tab" href="#test6" role="tab" aria-controls="test6" aria-selected="false">Test
        6
      </a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active pt-3" id="test1" role="tabpanel" aria-labelledby="test1">
      <p>Once most animals reach adulthood, they stop growing In contrast, even plants that are thousands of years old
        continue
        to grow new needless, add new wood, and produce cones and new flowers, almost as if parts of their bodies
        remained
        "forever young". The secrets of plant growth are regions of tissue that can produce cells that later develop
        into specialized
        tissues.
      </p>
      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-6">
              Play Answer 1
            </div>
            <div class="col-md-6">
              <audio controls>
                <source src="/assets/Sample responses/1 Read aloud/Read aloud_ Item 1/Sample_response_Read_aloud_Item_1_B1.mp3"
                  type="audio/mpeg"> Your
                browser does not support the audio element.
              </audio>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              Play Answer 2
            </div>
            <div class="col-md-6">
              <audio controls>
                <source src="/assets/Sample responses/1 Read aloud/Read aloud_ Item 1/Sample_response_Read_aloud_Item_1_B2.mp3"
                  type="audio/mpeg"> Your
                browser does not support the audio element.
              </audio>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              Play Answer 3
            </div>
            <div class="col-md-6">
              <audio controls>
                <source src="/assets/Sample responses/1 Read aloud/Read aloud_ Item 1/Sample_response_Read_aloud_Item_1_C1.mp3"
                  type="audio/mpeg"> Your
                browser does not support the audio element.
              </audio>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade pt-3" id="test2" role="tabpanel" aria-labelledby="test2">
      <p>Analysts were impressed by the improvement in margins reported across all regions, apart from the United
        Kingdom,
        and said that this reflected a clear effort to improve profitability across the business. Although the
        turnaround is
        still in its early stages and the valuation looks full, given the challenge of turning around such a large and
        complex
        business, this is certainly an impressive start.</p>
      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-6">
              Play Answer 1
            </div>
            <div class="col-md-6">
              <audio controls>
                <source src="/assets/Sample responses/1 Read aloud/Read aloud_Item 2/Sample_response_Read_aloud_Item_2_B1.mp3"
                  type="audio/mpeg"> Your
                browser does not support the audio element.
              </audio>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              Play Answer 2
            </div>
            <div class="col-md-6">
              <audio controls>
                <source src="/assets/Sample responses/1 Read aloud/Read aloud_Item 2/Sample_response_Read_aloud_Item_2_B2.mp3"
                  type="audio/mpeg"> Your
                browser does not support the audio element.
              </audio>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              Play Answer 3
            </div>
            <div class="col-md-6">
              <audio controls>
                <source src="/assets/Sample responses/1 Read aloud/Read aloud_Item 2/Sample_response_Read_aloud_Item_2_C1.mp3"
                  type="audio/mpeg"> Your
                browser does not support the audio element.
              </audio>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade pt-3" id="test3" role="tabpanel" aria-labelledby="test3">
      <p>The development of easy-to-use statistical software has changed the way statistics is being taught and learned
        Students
        can make transformations of variables, create graphs of distributions of variables, and select among
        statistical analyses
        all at the click of a button. However, even with these advancements, students sometimes still find statistics
        to be
        an arduous task.
      </p>
      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-6">
              Play Answer 1
            </div>
            <div class="col-md-6">
              <audio controls>
                <source src="/assets/Sample responses/1 Read aloud/Read aloud_Item 3/Sample_response_Read_aloud_Item_3_B1.mp3"
                  type="audio/mpeg"> Your
                browser does not support the audio element.
              </audio>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              Play Answer 2
            </div>
            <div class="col-md-6">
              <audio controls>
                <source src="/assets/Sample responses/1 Read aloud/Read aloud_Item 3/Sample_response_Read_aloud_Item_3_B2.mp3"
                  type="audio/mpeg"> Your
                browser does not support the audio element.
              </audio>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              Play Answer 3
            </div>
            <div class="col-md-6">
              <audio controls>
                <source src="/assets/Sample responses/1 Read aloud/Read aloud_Item 3/Sample_response_Read_aloud_Item_3_C1 response.mp3"
                  type="audio/mpeg"> Your
                browser does not support the audio element.
              </audio>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade pt-3" id="test4" role="tabpanel" aria-labelledby="test4">
      <p>In 2005, donor countries agreed on an accord to harmonize their practices. Since then, aid officials have
        complained
        that too little has changed on the ground. Conferences of donors in developing countries still tend to be
        dominated
        by a small group of north European governments, with the US often absent.
      </p>
      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-6">
              Play Answer 1
            </div>
            <div class="col-md-6">
              <audio controls>
                <source src="/assets/Sample responses/1 Read aloud/Read aloud_Item 4/Sample_response_Read_aloud_Item_4_B1.mp3"
                  type="audio/mpeg"> Your
                browser does not support the audio element.
              </audio>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              Play Answer 2
            </div>
            <div class="col-md-6">
              <audio controls>
                <source src="/assets/Sample responses/1 Read aloud/Read aloud_Item 4/Sample_response_Read_aloud_Item_4_B2.mp3"
                  type="audio/mpeg"> Your
                browser does not support the audio element.
              </audio>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              Play Answer 3
            </div>
            <div class="col-md-6">
              <audio controls>
                <source src="/assets/Sample responses/1 Read aloud/Read aloud_Item 4/Sample_response_Read_aloud_Item_4_C1.mp3"
                  type="audio/mpeg"> Your
                browser does not support the audio element.
              </audio>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade pt-3" id="test5" role="tabpanel" aria-labelledby="test5">
      <p>The climate for doing business improved in Egypt more than in any other country last year, according to a
        global study
        that revealed a wave of company-oriented reforms across the Middle East. The World Bank rankings, which look at
        business
        regulations, also showed that the pace of business reforms in Eastern Europe was overtaking East Asia.</p>
      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-6">
              Play Answer 1
            </div>
            <div class="col-md-6">
              <audio controls>
                <source src="/assets/Sample responses/1 Read aloud/Read aloud_Item 5/Sample_response_Read_aloud_Item_5_B1.mp3"
                  type="audio/mpeg"> Your
                browser does not support the audio element.
              </audio>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              Play Answer 2
            </div>
            <div class="col-md-6">
              <audio controls>
                <source src="/assets/Sample responses/1 Read aloud/Read aloud_Item 5/Sample_response_Read_aloud_Item_5_B2.mp3"
                  type="audio/mpeg"> Your
                browser does not support the audio element.
              </audio>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              Play Answer 3
            </div>
            <div class="col-md-6">
              <audio controls>
                <source src="/assets/Sample responses/1 Read aloud/Read aloud_Item 5/Sample_response_Read_aloud_Item_ 5_C1.mp3"
                  type="audio/mpeg"> Your
                browser does not support the audio element.
              </audio>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade pt-3" id="test6" role="tabpanel" aria-labelledby="test6">
      <p>In a genuine republic, the will of the government is dependent on the will of the society, and the will of the
        society
        is dependent on the reason of the society. In Federalist 51, for example, James Madison claimed that the extent
        and
        structure of the government of the United States make it dependent on the will of the society.</p>
      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-6">
              Play Answer 1
            </div>
            <div class="col-md-6">
              <audio controls>
                <source src="/assets/Sample responses/1 Read aloud/Read aloud_Item 6/Sample_response_Read_aloud_Item_6_B1.mp3"
                  type="audio/mpeg"> Your
                browser does not support the audio element.
              </audio>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              Play Answer 2
            </div>
            <div class="col-md-6">
              <audio controls>
                <source src="/assets/Sample responses/1 Read aloud/Read aloud_Item 6/Sample_response_Read_aloud_Item_6_B2.mp3"
                  type="audio/mpeg"> Your
                browser does not support the audio element.
              </audio>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              Play Answer 3
            </div>
            <div class="col-md-6">
              <audio controls>
                <source src="/assets/Sample responses/1 Read aloud/Read aloud_Item 6/Sample_response_Read_aloud_Item_6_C1.mp3"
                  type="audio/mpeg"> Your
                browser does not support the audio element.
              </audio>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row mt-5">
    <div class="col-md-12">
      <h4>More Examples</h4>
      <ol>
        <li>
          <p>If your friends are overweight, that too ups the odds you'll pack on
            pounds. Those effects have been shown in studies. And now
            researchers have identified another seemingly contagious quality:
            exercise. The investigators analyzed the running activity of more
            than a million individuals worldwide who used an exercise tracking
            device for five years. And they used weather patterns as a way to
            randomly examine different parts of that global network.</p>
        </li>
        <li>
          <p>
            To answer these questions, Foster and his colleagues
            reconstructed the history of atmospheric carbon dioxide for the
            last 420 million years. They compiled roughly 1,500 estimates of
            C02 concentrations from 112 previous studies. When the
            researchers combined these data, they found that atmospheric
            carbon dioxide went up and down over time, but that, in general,
            it gradually declined from almost 3,000 parts per million down to
            less than 300 parts per million before humans started burning
            fossil fuels.</p>
        </li>
        <li>
          <p>
            The sun is now brighter than it was 200 million years ago, or 400
            million years ago, that radiative forcing from C02 in the future is going
            to be that much more potent. And that, we thought, was quite a strong
            message that hadn’t been noted before. It’s more of cautionary note
            that, in the absence of any action, we will be entering a world quite
            rapidly—in the next 150 years—where the climate is receiving a
            magnitude of forcing that, as far as we know, it hasn’t received for 420
            million years...it’s outside the bounds at which the Earth is normally
            functioning’.
          </p>
        </li>
        <li>
          <p>She and colleagues studied newborn male mice and their mothers
            that were separated from each other, which caused them both to
            experience traumatic stress. Those male mice and their male
            offspring displayed trauma symptoms—which made them different
            from other mice that had not been separated from their mothers. But
            when these symptomatic mice were exposed to positive experiences,
            their behavior changed—as did the fate of their offspring.</p>
        </li>
        <li>
          <p>However, we have already started to reverse that trend. If we continue
            on a business-as-usual scenario, by the middle of this century, C02
            could reach levels not seen in 50 million years, according to Foster’s
            reconstruction. That’s long before humans evolved, back when the
            climate was much warmer and there were no large ice sheets at the
            poles. If we continue on that trajectory, by the year 2250,
            concentrations could approach what they were in the Triassic, 200
            million years ago, when dinosaurs roamed the Earth.</p>
        </li>
        <li>
          <p>
            The researchers prepared a bunch of increasingly squishy silicone
            surfaces and released drops of ethanol onto them from different
            heights. They captured video of the splashes with a super-slow-
            motion camera that records more than 100,000 frames per second.
            And they found that the drops eventually stopped splashing on the
            softest surfaces. So far that all sounds predictable. But computer
            models of the splashes revealed interesting details.</p>
        </li>
        <li>
          <p>
            Another alleged value of being a passenger rather than a driver is
            more productivity—you could work rather than concentrate on
            driving. But most people might not spend their newfound free time in
            self-driving cars whittling down their to-do lists. The researchers
            surveyed people in the U.S., Australia, China, India, Japan and the
            U.K. And about 62 percent of respondents said self-driving cars
            would not make them more productive. For one thing, 23 percent of
            the group said they won’t ride in a self-driving car in the first place.</p>
        </li>
        <li>
          <p>
            But greenhouse gases aren’t the only factor impacting Earth’s
            climate. The sun also plays a major role. It’s grown brighter over
            time, offsetting most of the cooling related to dropping C02 levels,
            Foster’s team found. And that fact has important implications for
            modern climate change. Because while we’re headed toward a
            world with C02 levels similar to what they were in the distant
            geologic past, it won’t just be like rewinding the clock.</p>
        </li>
        <li>
          <p>At the moment the blob of liquid makes contact with the surface,
            the bottom of the drop flattens out and the pressure increases. The
            ring of pressure spreads towards the drop’s edges. If the surface is
            too hard, the ring of high pressure creates tiny droplets that
            explode from the main drop’s edges. But the softest surfaces deform
            in response to the drop hitting them—and that prevents the
            pressure from getting high enough to cause that explosion.</p>
        </li>
        <li>
          <p>By the summer, the sea ice begins to melt and break apart.
            Deprived of access to the tasty seals, polar bears spend the
            summer fasting. At least, that's what's supposed to happen. As
            the planet warms, the warmer ice-free season is getting longer
            and longer. So what's a hungry bear to do? Scientists once
            thought that polar bears might survive by supplementing their
            pinniped diet by turning to terrestrial foods like snow geese,
            their eggs and caribou.</p>
        </li>
        <li>
          <p>Turns out, though, it's not the flies... but a flower that has the
            last word in this tale of trickery. Because researchers have now
            discovered that the flowers of a South African plant - called the
            parachute plant - produce nearly three dozen of the 90-some
            compounds in that honeybee alarm call. Meaning they mimic
            the scent of a honeybee in danger—to lure in and temporarily
            trap the flies, as a pollination ploy.</p>
        </li>
      </ol>
    </div>
  </div>
  <app-disqus></app-disqus>
</section>