<section class="mt-5 p-5">
  <h4>Sample Essays</h4>
  <ol>
    <li><b>In a war of ideas, it is people who get killed”. Does a common man suffer from a group’s ideology? Express
        your opinion, and support the same with reasons and examples.</b>
      <p>Mankind survives and functions well in groups which fortify mutual respect, understanding and exchange of
        ideas among each other. Numerous groups are formed in the world based on caste, color, nationalities and
        religion which often result in conflicts and violence when they fail to control their enthusiasm; therefore I
        am in consummately accord with this statement that a common man has to pay the price of a group’s ideology.

        A group’s viewpoints always influence others in both positive and negative way and often lead to social
        disharmony for which a common man suffers, for instance terrorism based on religion leads to hatred and racist
        attacks against every sophisticated person belong to that religion. Apart from this, world wars were also a
        result of different national groups.

        Politics and religion are the dominating factors responsible for creating groups and manipulating its members
        by giving wrong directions. Therefore, these political and religious leaders instill negative reinforcements in
        mind of members and make them perform anti social activities which cause deaths of common men, women and
        children but the main culprits are always hiding in high security buildings.

        In short, every individual has distinguished ideas and uniqueness it is not always necessary that he supports
        the group, so he becomes the sufferer. Having a common notion is not bad but acquisition of false and
        misleading information among group is always disastrous and destructive for mankind. </p>
    </li>
    <li><b>Many people think regions affect successful persons. What is your opinion about native regions and
        accomplished person influence on the regions they belong to?</b>
      <p>Different regions from where successful individual hailed always have an influence over them; however only
        regions don’t make people triumphant, it requires uphill struggle, determination, focus and goal directed
        approaches but still the person always represents his region. In my opinion both region and individual are
        complimentary to each other in several ways.
        Every region has uniqueness in the form of culture, traditions, values and beliefs, so the offsprings hailed
        from such region have specialized characteristics in them and which stimulate them to acquire positive outcome
        in regard to education and career.
        On the other hand, accomplished people also have a significant impact on the native area they belong to as they
        bring proud for the whole region and many adolescents also get motivated by them and initiate objective
        oriented behavior to attain their goals. They become role models for the youngsters and older people tell their
        stories of success to instill paramount qualities in their children and to catalyze the surge of fortitude.
        In short, we can’t be detached from the area we born into, because knowingly or unknowingly we gained a lot
        from it, and our every deed is going to represent our area as a whole in front of the world. Our activities
        also have a direct influence on our youngsters in that region, so we will always be accountable for our nation.</p>
    </li>
    <li><b>Nowadays TV has become an essential part of life. Medium to spread news & awareness and for some It acts
        like a companion. What is your opinion about this?</b>
      <p>Technology gave us an abundance of devices to utilize; TV is one of them. In my opinion, among its several
        benefits, news and awareness is of paramount significance as compared to entertaining screenplays. TV really
        acts like a companion if we use it appropriately to a satisfactory extent.
        Television provides us a sophisticated knowledge regarding a variety of topics in a detailed and focused way;
        several lectures of experts and interviews of accomplished persons stimulate the youngsters in positive way and
        catalyze the surge of learning something new. But this can only be possible if the channels are selected
        carefully such as BBC, Nat Geo, and Discovery. Most of the channels are producing misleading shows in a race of
        profit which affects adolescents in a negative way, these should be neglected.
        TV is very beneficial for older people who live alone; in my practice as a nurse, TV is used as a divertional
        therapy to ease anguish as well as it is a very efficient method to fight with anxiety and depression. This is
        even useful for those older people who don’t have access to internet or can’t operate technical devices to surf
        internet, they can listen to news and other information though TV.
        In short, TV can be used in numerous effective ways for educational purposes and to create attentiveness among
        people related to current issues; misguiding shows should be censored by the government to make it more
        relevant.</p>
    </li>
    <li><b>Do you think consumers should avoid over packaged products or is it the responsibility of producers?
        (Discussion Essay)</b>
      <p>The potential of an over packaged product to attract attention of customer by its glamour, for sure, is
        considerable but is it able to promise quality, durability and effectiveness of a product? My answer is no,
        therefore I feel the consumer should avoid buying these products as due to over packaging we can’t even
        evaluate the quality of product which is possible while buying unpacked or appropriately packed substances.
        The cause of this trend is paradoxically profit endowed and entrepreneurs are trapped in a self enforcing
        circle to present their products in more sophisticated ways to enhance marketing and when they notice that the
        buyers easily get manipulated by just packing of the material, they start wrapping it in more than required
        material which, in turn, confuses the consumer, therefore, the purchaser must not spend exorbitant money to buy
        these goods.
        As being citizens of this planet we have a paramount accountability for environment so buying these products
        will only cause more waste, which requires so much funds and efforts to dispose off; and in this century when
        we are fighting with world hunger, spending a lot of money just on packaging and disposal will cause downfall
        among famers and small scale industries.
        A laudable initiative to avoid these goods will amplify this notion among others which will lead to downfall of
        enterprises who neglect quality of the product for just its external make over; and consumers will be able to
        receive them directly from small town factories whose products are even more efficient than those who are
        packed in glitters.
        In short, consumers can change this unworthy trend of decorating a poor quality product just to gain profit and
        popularity which will compel the entrepreneurs to create quality oriented goods.</p>
    </li>
    <li><b>What are the greatest inventions of the 20th century among medicine, aeroplane and computers, why?</b>
      <p>The potential for new advancements and inventions in the fields of health and technology to modify and improve
        our living conditions is considerable. However, all of the above mentioned modalities are very essential for
        our society, but out of these I would like to go with medicine as I feel medicines, in particular, are of
        paramount value because health is a significant necessity of all individuals.
        Over the last few decades, medicines advanced so effectively that these days we have cure of several ailments
        which were major cause of morbidity and mortality fifty years ago. With today’s therapeutic drugs we are able
        to prevent numerous diseases which was not feasible before; therefore, it improved our life expectancy to a
        greater extent and also, enhanced our quality of life.
        Although computers and airplanes are also an essential part of today’s life but we can only use these if we are
        physically and mentally healthy; for instance, a person suffering from fever will always require medicines
        nothing else, and computers, airplanes etc cannot attract his attention until and unless his fever subsided.
        In short, discoveries in pharmacological field as compared to other areas enhanced people’s wellbeing and
        enabled them to enjoy a healthful life to their maximum potentials with necessary will, strength and power,
        however yet a lot is to be discovered in future.</p>
    </li>
    <li><b>Illiterate parents cannot teach their children well, a laborer’s child cannot become a doctor, what are your
        views regarding this.</b>
      <p>Uneducated parents cannot provide efficient education and skills to their offsprings; apropos of this
        statement I am in consummately discord with it as I feel they value education ever more as compared to others
        because they have encountered with the lack of it.
        Fruitful education always require attitude, etiquettes, determination and objective oriented approaches which
        can be achieved by effective upbringing by parents, no matters illiterate or literate. Parents with low
        qualification level may struggle with the selection of appropriate field in study but this can be tackled by
        efficient guidance from teachers.
        Literacy level of parents is never been a hindrance in success of many famous accomplished people such as
        Abraham Lincoln; violent staccatos of the jackhammer coupled with rhythmic pounding of nails and muffled
        obscenities comprise the symphony of the construction site that has been his father’s accompaniment for years
        and Lincoln saw the value of education in the scratches and calluses in his hands and aches in his knees which
        fortify his notion of uphill struggle.
        In short, for every individual, children’s education is of paramount significance which he always tries to
        support irrespective of financial conditions or other obstacles.</p>
    </li>
    <li><b>It is argued that getting married before finishing school or getting a job is not a good choice. To what
        extent do you agree or disagree?</b>
      <p>Marriage before settlement affects millions of people especially young girls from all over the world. As soon
        as these young girls get married, they become fully engaged in all the domestic burdens, marital
        responsibilities, real life challenges and raising children while they are still not well educated and are
        immature themselves. I fully agree that getting into married bond before education or job is not a wise
        decision.
        Education and good career enhances a person’s intellectual abilities to make decisions related to personal and
        social life and make them realize their accountabilities in a descriptive way, and if two people marry while
        studying they can’t focus their mind on study as well as family responsibilities, it will divert their mind in
        different directions and lead to failure in study and conflicts with partner resulting in disharmony in both
        family life and career.
        Marriage before settlement could be because of any reason, but its effects are very devastating. These effects
        are pertaining to psychological problems, health implications, freedom captivation, enforced maturity, personal
        and education development, and coping with marital issues. Above all divorce or separation is the main effect
        of early marriage. When a girl enters into the institution of marriage, she brings the burden of many
        responsibilities with herself.
        In order to have a successful and happy married life, it is imperative for both the partners to be educated and
        settled. Eventually, as with every marriage there will be stresses and pressures, uneducated partners will be
        more prone to marriage problems since their individuality has been interrupted.
        Causes: There is a large similarity that underlies causes of marriage of girls before settlement despite the
        remarkable differences in societies and communities. Nevertheless, the degree of importance differs according
        to conditions. The major causes that urge on marriage of girls before settlement and at early age are male
        dominance, parent’s ignorance, myths about early marriage, pressures from relatives and community and even
        girls are regarded as burdens on their families, so the families get rid of them by marrying them off early.
        Moreover they do not understand needs and not fulfill due to many problems.</p>
    </li>
    <li><b>Large shopping malls are replacing small shops. What is your opinion about this? Discuss with appropriate
        examples.</b>
      <p>These days, every city contains numerous shopping malls where diversity of sophisticated items is available to
        attract consumers’ attraction; on the flip side, we can see deterioration in small shops and carts because of
        decreased number of buyers. In my opinion, it is a negative drift which should be tackled soon with slew of
        measures.

        Large malls often sell items on exorbitant prices as compared to small shops, however the quality of product is
        same or relatively poor but the glamour of the item is amplified by decorated packaging in malls which small
        scale industries can’t afford. Therefore, people often feel themselves of impeccable standards to buy goods
        from malls rather than small shops or carts.

        Decrease in financial condition of locals is also due to this trend because local farmers and craftsmen cannot
        earn appropriately due to decreased sale, on the other hand foreign brands and imported items are gaining large
        profit and country’s economic state is declining. This always widens the gap between wealthy and less well off
        because malls are often owned by affluent people.

        In brief, small shops are crucial to flourish living standards of common inhabitants and these should not be
        replaced by malls. Government should implement policies stating a particular number of malls per city or
        population.
      </p>
    </li>
    <li><b>Parents should be held legally responsible for their children’s acts. What is your opinion? Support it with
        personal examples...</b>
      <p>Parents should be held accountable for offsprings’ activities by law because it will encourage them to
        discipline their children and teach them etiquettes, manners and value of jurisdiction. I am in consummately
        accord with the given statement.

        Parents must watch their children and evaluate their behavior so that they can modify it in socially and
        legally acceptable manner and instill sophistication in their thoughts to make them better citizen of the
        nation. It is only possible if legal system makes them fully responsible for every positive and negative task
        their children do and require answers for that.

        Children’s minds are innocent and free from any prejudice therefore they cannot understand repercussions of
        their actions which may lead to wrongful acts which may cause deterioration in their development or disharmony
        in society. Moreover, parents will also become negligent if there is no legal force on them. For instance, in a
        recent incident in a zoo, a gorilla was killed by zoo authorities because a baby went to his accommodation due
        to inattention of parents.

        In brief, laws and policies should be formulated and implemented in which parents should be given written
        guidelines for upbringing of their children in healthy way and they should be penalized for children’s negative
        deeds.</p>
    </li>
    <li><b>Pros and cons of technology</b>
      <p>A lot of technological advancements have been taking place day by day, and which clearly reflect people’s life
        styles both positively and negatively and we should assert the need of observing the precarious outcome of it
        for the rise of a risk free society in the future.

        Technology reduces the effort of people which provides countless visible techniques to simplify the work. It is
        conspicuous that from paper clips to ultra-modern spacecrafts work on the principles of science and technology.
        It made our life way too easier and gave us so many fruitful outcomes in the field of medicine, science,
        communication, transport, genetics and engineering; as a result we increased life expectancy, made space travel
        possible and done so many complex permutations in a millisecond.
        However, at the same pace technology brings some threats to people; For instance, the inventions of weapons
        especially nuclear war gadgets are extremely dangerous for the existence of the entire life forms on earth. In
        addition to that, an increased use of motor vehicles causes the contamination of our ecosystem which resulted
        in certain problems such as global warming and unsteady climates.
        The appropriate use of technology by taking the positive effects can bring about great changes in our life
        styles. By promoting global peace by anti war campaigns can counter the use of weapons. Also, making awareness
        in individuals about the hazardous outcome of increased fuel emission from automobiles can be instrumental in
        avoiding threats associated with global warming.

        In a conclusion, the advantages and disadvantages of science and technology purely depend upon the way in which
        we implement them. Let’s hope for a world without enduring the dangerous outcome of these inventions in near
        future.
      </p>
    </li>
    <li><b>Company Top level Authorities should or should not take employees suggestions or ideas to take any
        decisions. Discuss</b>
      <p>Decision making not only requires collection of facts and data, it demands a real experience of the situation
        and empathetic approaches; it is only feasible if employees are involved in decision making process because
        being a part of organization they have more reliable data on workforce issues.

        Organization is a group of people who direct their actions towards attainment of a common goal; therefore
        middle and low level employees can provide more efficient solutions or decisions which will enhance
        productivity because higher level people generally have less penetrating data on actual alternatives out of
        which a best can be selected in decision making process effectively by the employees.

        Most of the time employees feel left behind and compelled by the decisions imposed by the higher authorities on
        them and sometimes that decision is not even practical which leads to wastage of manforce. For instance, during
        my clinical practice as a nurse, our manager initiated half hourly rounds in patients’ room at night which
        wasted nurses’ valuable time of actual interventions and made patients so restless and sick that hospital stay
        time increased and brought negative outcomes which could be avoided if nurses could have involved in the
        decision making process.

        In short, including employees in this process will also motivate them and make them feel significant in the
        organization which in turn will fortify better mutual relationships and uphill struggle. However the decision
        should be made finally by the managers but acquiring employees’ opinion will enhance implementation and
        fruitful outcome of the decision.
      </p>
    </li>
    <li><b>
        Successful sports stars and glamorous film stars are a role model for youngsters. Do u support it or not?
        (Agree/Disagree)
      </b>
      <p>Accomplished people always attract attention of the youngsters and influence them to imitate their actions,
        which is a positive trend only if the role model is a right person and doing good deeds for society. These days
        adolescents are being motivated by celebrities’ charm, glamour and outfits only and they even fail to identify
        their true nature, which is a negative trend as per my opinion.

        Celebrities these days focus only on external looks and some of them are even indulged in substance abuse which
        set a wrong example for the youngsters, moreover the young generation never looks into the uphill struggle
        those sports person did to reach at their goal, all they observe is their hairstyles, outfits and expensive
        vehicles they possess.

        Making role models is only effective if it provides you motivation, determination, etiquettes, mutual respect
        and instill positive objective oriented behavior to reach at destination, which is not feasible by projecting
        celebrities’ life style as it is far away from reality and pragmatism. Adolescents are wasting exorbitant money
        to become like celebrities and not paying attention towards their education and intellectual skills.

        In short, youngsters require a correct pathway to amplify their capabilities and catalyze the surge of
        achievement and prosperity which cannot be achieved through wrong role models.</p>
    </li>
    <li><b>Holdays tour tourism</b>
      <p>The potential for the tour and tourism to attract people is considerable with the evidence of a significant
        increase in number of tourists worldwide in the past decade. There are some people who like to stay in well
        organized hotels and do not pay much attention to the world outside that hotel, while others prefer roaming and
        sight-seeing so that they can acquire knowledge regarding culture, traditions and values of that particular
        area which seems like my kind of travel, so I am in accord with this second statement given.
        In this context, I feel that the primary purpose of tourism is to expand the horizon of knowledge and to
        fortify the notion of strengthening multicultural society and world peace, staying in hotels will not serve
        this purpose. Analysis of ethnic customs, cultural values and lifestyle of people helps to transform cultural
        malpractice with healthy habits as we learn by observations.
        Local community is also benefitted by traveling as there is exchange of ideas between locals and travelers
        which, in particular, advances their knowledge. It improves economic conditions of locals by motivating them to
        sell handicrafts and local cuisines; therefore, it provides them employment as well.
        In short, tourism flourish healthy relationship among people hailed from different civilizations, thereby
        improves relationships. Tourism should involve roaming and being among the local community, not just staying in
        hotels, to serve its laudable purpose.</p>
    </li>
    <li><b>Marketing strategy for big companies should be placed on offer and discounts, and in what ways this can
        impact on their reputation.</b>
      <p>Various marketing strategies have to be utilized in order to augment the profits of a business. These
        marketing strategies depend largely on the customer base and the goods and services sold. Many businesses
        consider offering discounts a superior way to amplify sales. Offering discounts to customers, in a business,
        can either be positive or negative in terms of company’s affluent status.
        However it will boost company’s sale and popularity albeit at a cost of less benefit, but it may bring downfall
        in company’s reputation as they buyers may doubt at quality of products and can create a negative perception in
        their minds. Apart from this, it will elude customers to neglect items at market value and they will always
        demand discounts causing further degradation in company.
        At the highest level, discounting makes sense from a marketing and sales perspective, especially when companies
        are in a slump and they wish to attract a slew of new customers to save their economy. It will decline
        customer’s trust on company and can it even lose old regular customers who bought same items on market value
        before the company announced a discount.
        It is not an easy task deciding if offering discounts in a business is good choice or a bad one. However, a
        business needs to consider these factors closely in order to run it successfully and profitably. Discounts can
        be offered on certain days once a year on certain selected items just to replenish the stock.</p>
    </li>
    <li><b>The illiterate of the 21st century will not be those who cannot read and write, but those who cannot learn,
        unlearn, and relearn. Agree or Disagree?</b>
      <p>The definition of illiteracy is not limited to those who can’t do mathematical permutations or express certain
        linguistic features, it involves those who can’t replace previously learnt less effective data in their minds
        with new and rapidly evolving information; I consummately in accord with the above statement.
        The perception of education has changed significantly in the past few decades, it requires necessary skills and
        complex intellectual abilities to make appropriate decisions and work efficiently in work environment as so
        many inventions and discoveries are occurring and one needs to acquire those quickly and move forward with the
        world otherwise he will be considered as illiterate in near future.
        The process of ‘unlearn’ and ‘re-learn’ describes the need of acquisition of recent knowledge and eliminating
        previous one, for instance, we have learnt in our school that electron is the smallest particle but with
        discovery of proton and neutron, the previous theory failed, and recently I have read that researchers even
        found some other smallest particles even.</p>
    </li>
    <li><b>Talk about the pros/ cons of this era as is full of daily inventions
      </b>
      <p>The world stepped in the 21st century with great ambition and numerous inventions in the field of technology
        which exerted a flourishing impact on our life style. These days technology gave us such sophisticated devices
        which made distances short and turned the whole world into a global village.
      </p>
    </li>
  </ol>
  <app-disqus></app-disqus>
</section>