<section class="main-section">
  <ul class="nav nav-tabs pt-3" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="test1-tab" data-toggle="tab" href="#test1" role="tab" aria-controls="test1"
        aria-selected="true">Test
        1
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="test2-tab" data-toggle="tab" href="#test2" role="tab" aria-controls="test2" aria-selected="false">Test
        2
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="test3-tab" data-toggle="tab" href="#test3" role="tab" aria-controls="test3" aria-selected="false">Test
        3
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="test4-tab" data-toggle="tab" href="#test4" role="tab" aria-controls="test4" aria-selected="false">Test
        4
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="test5-tab" data-toggle="tab" href="#test5" role="tab" aria-controls="test5" aria-selected="false">Test
        5
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="test6-tab" data-toggle="tab" href="#test6" role="tab" aria-controls="test6" aria-selected="false">Test
        6
      </a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active pt-3" id="test1" role="tabpanel" aria-labelledby="test1">
      <div class="row">
        <div class="col-md-7 mt-3">
          <img src="/assets/Sample responses/3 Describe image/Describe image_Item 1/item1.png" class="img-fluid">
        </div>
        <div class="offset-md-1 col-md-4">
          <div class="row mt-3">
            <div class="col-md-6">
              <p>Play Answer 1</p>
              <audio controls>
                  <source src="/assets/Sample responses/3 Describe image/Describe image_Item 1/Sample_response_Describe_image_Item_1_B1.mp3"
                    type="audio/mpeg"> Your
                  browser does not support the audio element.
                </audio>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <p>Play Answer 2</p>
              <audio controls>
                  <source src="/assets/Sample responses/3 Describe image/Describe image_Item 1/Sample_response_Describe_image_Item_1_B2.mp3"
                    type="audio/mpeg"> Your
                  browser does not support the audio element.
                </audio>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <p>Play Answer 3</p>
              <audio controls>
                  <source src="/assets/Sample responses/3 Describe image/Describe image_Item 1/Sample_response_Describe_image_Item_1_C1.mp3"
                    type="audio/mpeg"> Your
                  browser does not support the audio element.
                </audio>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade pt-3" id="test2" role="tabpanel" aria-labelledby="test2">
      <div class="row">
        <div class="col-md-7 mt-3">
          <img src="/assets/Sample responses/3 Describe image/Describe image_Item 2/item2.png" class="img-fluid">
        </div>
        <div class="offset-md-1 col-md-4">
          <div class="row mt-3">
            <div class="col-md-6">
              <p>Play Answer 1</p>
              <audio controls>
                  <source src="/assets/Sample responses/3 Describe image/Describe image_Item 2/Sample_response_Describe_image_Item_2_B1.mp3"
                    type="audio/mpeg"> Your
                  browser does not support the audio element.
                </audio>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <p>Play Answer 2</p>
              <audio controls>
                  <source src="/assets/Sample responses/3 Describe image/Describe image_Item 2/Sample_response_Describe_image_Item_2_B2.mp3"
                    type="audio/mpeg"> Your
                  browser does not support the audio element.
                </audio>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <p>Play Answer 3</p>
              <audio controls>
                  <source src="/assets/Sample responses/3 Describe image/Describe image_Item 2/Sample_response_Describe_image_Item_2_C1.mp3"
                    type="audio/mpeg"> Your
                  browser does not support the audio element.
                </audio>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade pt-3" id="test3" role="tabpanel" aria-labelledby="test3">
      <div class="row">
        <div class="col-md-7 mt-3">
          <img src="/assets/Sample responses/3 Describe image/Describe image_Item 3/item3.png" class="img-fluid">
        </div>
        <div class="offset-md-1 col-md-4">
          <div class="row mt-3">
            <div class="col-md-6">
              <p>Play Answer 1</p>
              <audio controls>
                  <source src="/assets/Sample responses/3 Describe image/Describe image_Item 3/Sample_response_Describe_image_Item_3_B1.mp3"
                    type="audio/mpeg"> Your
                  browser does not support the audio element.
                </audio>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <p>Play Answer 2</p>
              <audio controls>
                  <source src="/assets/Sample responses/3 Describe image/Describe image_Item 3/Sample_response_Describe_image_Item_3_B2.mp3"
                    type="audio/mpeg"> Your
                  browser does not support the audio element.
                </audio>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <p>Play Answer 3</p>
              <audio controls>
                  <source src="/assets/Sample responses/3 Describe image/Describe image_Item 3/Sample_response_Describe_image_Item_3_C1.mp3"
                    type="audio/mpeg"> Your
                  browser does not support the audio element.
                </audio>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade pt-3" id="test4" role="tabpanel" aria-labelledby="test4">
      <div class="row">
        <div class="col-md-7 mt-3">
          <img src="/assets/Sample responses/3 Describe image/Describe image_Item 4/item4.png" class="img-fluid">
        </div>
        <div class="offset-md-1 col-md-4">
          <div class="row mt-3">
            <div class="col-md-6">
              <p>Play Answer 1</p>
              <audio controls>
                  <source src="/assets/Sample responses/3 Describe image/Describe image_Item 4/Sample_response_Describe_image_Item_4_B1.mp3"
                    type="audio/mpeg"> Your
                  browser does not support the audio element.
                </audio>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <p>Play Answer 2</p>
              <audio controls>
                  <source src="/assets/Sample responses/3 Describe image/Describe image_Item 4/Sample_response_Describe_image_Item_4_B2.mp3"
                    type="audio/mpeg"> Your
                  browser does not support the audio element.
                </audio>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <p>Play Answer 3</p>
              <audio controls>
                  <source src="/assets/Sample responses/3 Describe image/Describe image_Item 4/Sample_response_Describe_image_Item_4_C1.mp3"
                    type="audio/mpeg"> Your
                  browser does not support the audio element.
                </audio>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade pt-3" id="test5" role="tabpanel" aria-labelledby="test5">
      <div class="row">
        <div class="col-md-7 mt-3">
          <img src="/assets/Sample responses/3 Describe image/Describe image_Item 5/item5.png" class="img-fluid">
        </div>
        <div class="offset-md-1 col-md-4">
          <div class="row mt-3">
            <div class="col-md-6">
              <p>Play Answer 1</p>
              <audio controls>
                  <source src="/assets/Sample responses/3 Describe image/Describe image_Item 5/Sample_response_Describe_image_Item_5_B1.mp3"
                    type="audio/mpeg"> Your
                  browser does not support the audio element.
                </audio>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <p>Play Answer 2</p>
              <audio controls>
                  <source src="/assets/Sample responses/3 Describe image/Describe image_Item 5/Sample_response_Describe_image_Item_5_B2.mp3"
                    type="audio/mpeg"> Your
                  browser does not support the audio element.
                </audio>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <p>Play Answer 3</p>
              <audio controls>
                  <source src="/assets/Sample responses/3 Describe image/Describe image_Item 5/Sample_response_Describe_image_Item_5_C1.mp3"
                    type="audio/mpeg"> Your
                  browser does not support the audio element.
                </audio>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade pt-3" id="test6" role="tabpanel" aria-labelledby="test6">
      <div class="row">
        <div class="col-md-7 mt-3">
          <img src="/assets/Sample responses/3 Describe image/Describe image_Item 6/item6.png" class="img-fluid">
        </div>
        <div class="offset-md-1 col-md-4">
          <div class="row mt-3">
            <div class="col-md-6">
              <p>Play Answer 1</p>
              <audio controls>
                  <source src="/assets/Sample responses/3 Describe image/Describe image_Item 6/Sample_response_Describe_image_Item_6_B1.mp3"
                    type="audio/mpeg"> Your browser does not support the audio element.
                </audio>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <p>Play Answer 2</p>
              <audio controls>
                  <source src="/assets/Sample responses/3 Describe image/Describe image_Item 6/Sample_response_Describe_image_Item_6_B2.mp3"
                    type="audio/mpeg"> Your browser does not support the audio element.
                </audio>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <p>Play Answer 3</p>
              <audio controls>
                  <source src="/assets/Sample responses/3 Describe image/Describe image_Item 6/Sample_response_Describe_image_Item_6_C1.mp3"
                    type="audio/mpeg"> Your browser does not support the audio element.
                </audio>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row mt-5">
    <div class="col-md-12">
      <h4>More Examples</h4>
      <ol>
        <li><img class="m-3" src="/assets/images/desc-images-1.1.png">
          <img class="m-3" src="/assets/images/desc-images-1.2.png">
          <p class="mt-3">
            These two graphs compare the income distribution in the USA, China, India and rest of the world. During
            year 1970, the average annual income in China and India was around thousand dollars per year, while In the
            US the income was much higher. During year 2000, there was an increment of income in all countries. In
            conclusion, in US the income was equally distributed for both years, but for other countries it was
            distributed equally only in year 2000.
          </p>
        </li>
        <li><img class="m-3" src="/assets/images/desc-images-2.png">
          <p class="mt-3">
            The pie chart represents the proportion of Post-secondary degrees awarded during the year 1997-98. The
            highest degrees
            were awarded to first professionals at 47%. It was followed by associate's degrees at 27%. 20% degrees were
            awarded for
            students who completed master’s well smallest proportion were for bachelors and doctoral degrees programs.
            In
            conclusion, the highest number of degrees were awarded for first professional's while the lowest number of
            degrees were
            awarded to candidates who completed their doctoral degree program.
          </p>
        </li>
        <li><img class="m-3" src="/assets/images/desc-images-3.png">
          <p class="mt-3">
            This pie chart represents the car ownership statistics in Canada. The majority of the population possesses
            at least one car.
            One-quarter of the total population of two cars while a very small number of car owners stated that they
            have three or
            more cars. About twenty percent of the population does not possess any four wheelers. In conclusion, about
            eighty
            percent of the population was managed to have a car still a significant number of people are without a
            proper family
            vehicle.
          </p>
        </li>
        <li><img class="m-3" src="/assets/images/desc-images-4.png">
          <p class="mt-3">
            The bar chart compares the number of incidents and injuries for every 100 million passenger miles traveled
            on five different types of
            public transport in 2002.
            It is clear that the most incidents and injuries took place on demand-response vehicles. By contrast,
            commuter rail services recorded by
            far the lowest figures.
            A total of 225 incidents and 173 injuries, per 100 million passenger miles traveled, took place on
            demand-response transport services.
            These figures were nearly three times as high as those for the second highest category, bus services. There
            were 76 incidents and 66
            people were injured on buses.
            Rail services experienced fewer problems. The number of incidents on light rail trains equalled the figure
            recorded for buses, but there
            were significantly fewer injuries, at only 39. Heavy rail services saw lower numbers of such events than
            light rail services, but commuter
            rail passengers were even less likely to experience problems. In fact, only 20 incidents and 17 injuries
            occurred on commuter trains.
          </p>
        </li>
        <li><img class="m-3" src="/assets/images/desc-images-5.png">
          <p class="mt-3">
            This bar graph measures British home and international student rates for men and women
            from 2010 to 2012.
            The least number of international students occurred in 2010 and were international women
            students. The highest number of students was in 2012, and these were female British home
            students. In 2012, British male home students and female international students represented
            the highest number of students in this period of study.
            In conclusion, we can see from the image that the gender and number of students vary
            throughout the time-period, and there is no clearly identifiable trend.
          </p>
        </li>
        <li><img class="m-3" src="/assets/images/desc-images-6.png">
          <p class="mt-3">
            This bar graph represents Australia's share of countries' imports of coal in 2005, 2010 and
            2015. 88% of Indian coal was from Australia in 2010, followed by about 81 % in 2015. About
            50% of China's coal in 2010 was from Australia. The Republic of Korea relies heavily on
            Australia to supply coal. In conclusion, Australia provides from 50% to close to 90% of these
            four countries' coal needs.
          </p>
        </li>
        <li><img class="m-3" src="/assets/images/desc-images-7.png">
          <p class="mt-3">
            The chart shows the enrolment comparison of 400 research students with an equal number of males and
            females. All the students
            opted for Natural Sciences. Psychology and Mathematics were opted by all male students with comparatively
            lesser female enrolments,
            similarly, Engineering and Programming received around 75%, of male enrolments and less than 50% female
            enrolments. Linguistics
            opted by a bit more than 100 female students and near about 85 male students.
          </p>
        </li>
        <li><img class="m-3" src="/assets/images/desc-images-8.png">
          <p class="mt-3">
            The pie chart illustrates the main reasons that people migrated and emigrated to the UK in 2007. We can
            clearly see from the pie chart
            that the definite job and searching for work accounted for the largest proportion of emigration and
            migration
            To begin nearly one-third of people went and left the UK for a definite job, while one fifth of people
            emigrated for job search, only just
            over one in ten people immigrated for this purpose.Next just over a quarter of people immigrated to the UK
            for formal study, but this
            figure was only 4% for emigration.
          </p>
        </li>
        <li><img class="m-3" src="/assets/images/desc-images-9.png">
          <p class="mt-3">
            The bar chart illustrates the number of men and women employed in six positions in Australia in 2003. It is
            immediately evident that generally more
            number of males than females
            were employed, and that trade persons stood the highest for males and clerical for males over this time
            frame. To begin with males,
            around 900 worked in trade persons and clerical positions with approximately 600 worked in managers and
            professions. Finally, semi
            professionals, production and labourers positions stood in the range of between 400-500. Moving on to
            females the situation was
            totally different. 900 females worked in clerical positions, this figure was dropped to at least a half in
            professionals category, which was
            much more ahead of men. Next, semi professionals, labourers and managers positions for females were in the
            range of 200-300, but
            lesser than males. Finally, only one in ten women worked in trade persons and production.
          </p>
        </li>
        <li><img class="m-3" src="/assets/images/desc-images-10.png">
          <p class="mt-3">The chart shows the amount of time that 10 to 15-year-olds spend chatting on the
            Internet and
            playing on games consoles on an
            average school day in the UK.
            Boys aged between 10 and 15 clearly favour playing on games consoles over chatting online. According to the
            chart, while 85% of boys
            play computer games every day, only 55% chat online daily. Furthermore, the majority of boys play on their
            consoles for more than one
            hour each day, and 10% do this activity for four hours or more.
            By contrast, girls prefer chatting online. Close to 70% of 10 to 15-year-old girls engage in online
            conversation each day, compared to
            about 50% of this cohort who play computer games. Of the girls who do play on consoles, most of them play
            for less than an hour,
            whereas most girls who chat online do so for more than one hour, and nearly 10% chat for four hours or
            more.</p>
        </li>
      </ol>
    </div>
  </div>
  <app-disqus></app-disqus>
</section>