<section class="main-section">
  <h4 class="mt-3">You will hear a recording. Type the missing words in each blank.
  </h4>
  <ul class="nav nav-tabs pt-3" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="test1-tab" data-toggle="tab" href="#test1" role="tab" aria-controls="test1"
        aria-selected="true">Test
        1
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="test2-tab" data-toggle="tab" href="#test2" role="tab" aria-controls="test2" aria-selected="false">Test
        2
      </a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active pt-3" id="test1" role="tabpanel" aria-labelledby="test1">
      <div class="row">
        <div class="col-md-12">
          <audio controls>
            <source src="/assets/Prompts/3 Fill in the blanks/Prompt_Fill_in_the_blanks_Item_1.mp3" type="audio/mpeg">
            Your
            browser does not support the audio element.
          </audio>
        </div>
        <div class="col-md-12">
          <p>One seminal difference in policy remains; the <input type="text"> has not matched what is Labor's most
            important
            innovation
            promise. That is to bring together responsibilities for innovation, industry, science and research under
            one
            single
            federal minister. Innovation responsibilities <input type="text"> lie within the powerful Department of
            Education
            and
            Science, and while there is a <input type="text"> industry department, it has little influence within
            Cabinet.
            This
            has <input type="text"> policy
            development and given Australia's innovation policies a distinctly science and research <input type="text">.
            It
            is
            the scientists
            rather than the engineers who call the tune in innovation policy in Canberra, so it's no surprise our
            policies
            are
            all about <input type="text"> government funded research and later <input type="text"> their results.</p>
        </div>
        <div class="col-md-12">
          <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo1">Toggle Answers</button>
        </div>
        <div class="col-md-12 mt-3">
          <div class="collapse" id="demo1">
            <p>One seminal difference in policy remains; the <span class="highlight">coalition</span> has not matched
              what
              is
              Labor's most important innovation
              promise. That is to bring together responsibilities for innovation, industry, science and research under
              one
              single federal minister. Innovation responsibilities <span class="highlight">currently</span> lie within
              the
              powerful Department of Education
              and Science, and while there is a <span class="highlight">separate</span> industry department, it has
              little
              influence within Cabinet. This has
              <span class="highlight">hampered</span> policy development and given Australia's innovation policies a
              distinctly
              science and research <span class="highlight">bias</span>. It is the
              scientists rather than the engineers who call the tune in innovation policy in Canberra, so it's no
              surprise
              our
              policies are all about <span class="highlight">boosting</span> government funded research and later <span
                class="highlight">commercializing</span>
              their results.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade show pt-3" id="test2" role="tabpanel" aria-labelledby="test2">
      <div class="row">
        <div class="col-md-12">
          <audio controls>
            <source src="/assets/Prompts/3 Fill in the blanks/Prompt_Fill_in_the_blanks_Item_2.mp3" type="audio/mpeg">
            Your
            browser does not support the audio element.
          </audio>
        </div>
        <div class="col-md-12">
          <p>We've decided to adopt, just as a loose theme for the course, a <input type="text"> theme so that you can
            see
            the
            <input type="text"> between chemistry and biology and the things that you might consider doing in the
            future.
            We
            want you
            to think about the <input type="text"> that are relevant to your body, the processes that occur in your
            body,
            the
            chemistry
            that's going on and how <input type="text"> plays a role. And we divided the course into four sections and
            after
            each section
            there will be a mid-term. The first one, or an exam. The first one is about <input type="text">.</p>
          <br><button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo2">Toggle Answers</button>
        </div>
        <div class="col-md-12 mt-3">
          <div class="collapse" id="demo2">
            <p>We've decided to adopt, just as a loose theme for the course, a <span class="highlight">biological</span>
              theme
              so that you can see the
              <span class="highlight">connections</span> between chemistry and biology and the things that you might
              consider
              doing in the future. We want you
              to think about the <span class="highlight">molecules</span> that are relevant to your body, the processes
              that
              occur in your body, the chemistry
              that's going on and how <span class="highlight">energy</span> plays a role. And we divided the course
              into
              four
              sections and after each section
              there will be a mid-term. The first one, or an exam. The first one is about <span class="highlight">matter</span>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-disqus></app-disqus>
</section>