<section class="main-section">
  <h1 class="mt-3">Writing</h1>
  <p>Writing sections 3-6 contain a number of individually-timed items. Test takers are required to write two summaries
    and
    one essay OR three summaries and one essay OR two summaries and two essays.</p>
  <table class="table">
    <thead>
      <tr>
        <th>Section</th>
        <th>Item type</th>
        <th>Time Allowed</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Sections 3-4</td>
        <td><a href="" routerLink="/summarize-written-text">2 * Summarize written text</a></td>
        <td>20 minutes</td>
      </tr>
      <tr>
        <td>Section 5</td>
        <td>Summarize written text OR Write essay</td>
        <td>10 or 20 minutes</td>
      </tr>
      <tr>
        <td>Section 6</td>
        <td><a href="" routerLink="/write-assay">Write Assay</a></td>
        <td>20 minutes</td>
      </tr>
    </tbody>
  </table>
  <h2>Writing: Summarize written text</h2>
  <p>For this item type you need to write
    a summary of the text in one
    sentence.
    You have 10 minutes to write your
    summary. Make sure to include the
    main points of the reading passage in a
    full, single sentence of no more than
    75 words.
    The Word Count at the bottom of the
    screen counts the number of words you
    write. There are also cut, copy and paste
    buttons which you may use while
    constructing your summary.
    Cut: Select text from your answer that
    you wish to remove and left-click “Cut”.
    Copy: Select text from your answer that
    you wish to copy and left-click “Copy”.
    Paste: Place the cursor where you wish
    to paste the cut/copied text and left-click
    “Paste”. </p>
    <h2>Writing: Write essay</h2>
    <p>For this item type you need to
        write a 200-300 word
        argumentative essay in response to
        a prompt.
        You have 20 minutes to write your
        essay.
        The Word Count at the bottom of the
        screen counts the number of words you
        write. Make sure to write a minimum
        of 200 words, but no more than 300
        words.
        There are also cut, copy and paste
        buttons which you may choose to use
        while constructing your response.
        Cut: Select text from your answer that
        you wish to remove and left-click “Cut”.
        Copy: Select text from your answer
        that you wish to copy and left-click
        “Copy”.
        Paste: Place the cursor where you wish
        to paste the cut/copied text and leftclick
        “Paste”.</p>
</section>