<section class="main-section">
  <h4 class="mt-3">Read the passage below and summarize it using one sentence. You have 10 minutes to finish this task.
    Your response
    will be judged on the quality of your writing and on how well your response presents the key points in the passage.</h4>
  <ul class="nav nav-tabs pt-3" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="test1-tab" data-toggle="tab" href="#test1" role="tab" aria-controls="test1"
        aria-selected="true">Test
        1
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="test2-tab" data-toggle="tab" href="#test2" role="tab" aria-controls="test2" aria-selected="false">Test
        2
      </a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active pt-3" id="test1" role="tabpanel" aria-labelledby="test1">
      <div class="row">
        <div class="col-md-12">
          The United Nations Intergovernmental Panel on Climate Change (IPCC) has released a new report on
          anthropogenic climate change
          The findings of the report include the following:
          <ul>
            <li>The world's average surface temperature has increased by around 0.74°C over the past 100 years (1906 -
              2005).
              A warming of about 0.2°C is projected for each of the next two decades.</li>
            <li>The best estimates for sea-level rise due to ocean expansion and glacier melt by the end of the century
              (compared
              to 1989- 1999 levels) have narrowed to 28 - 58 cm, versus 9 - 88 cm in the 2001 report, due to improved
              understanding.
              However, larger values of up to 1 m by 2001 cannot be ruled out if ice sheets continue to melt as
              temperature
              rises.
            </li>
            <li>
              Sea ice is projected to shrink in both the Arctic and Antarctic regions. Large areas of the Arctic Ocean
              could lose year-round
              ice cover by the end of the 21st century if human emissions reach the higher end of current estimates.
              The extent
              of Arctic sea ice has already shrunk by about 2.7 per cent per decade since 1978, with the summer minimum
              declining
              by about 7.1 per cent per decade.
            </li>
            <li>Snow cover has decreased in most regions, especially in spring. The maximum extent of frozen ground in
              the
              winter/spring season decreased by about 7 per cent in the Northern Hemisphere over the latter half of the
              20th
              century. The average freezing date for rivers and lakes in the Northern Hemisphere over the past 150
              years has
              arrived later by some 5 8 days per century, while the average break-up date has arrived earlier by 6.5
              days per
              century.
            </li>
            <li>It is "very likely" that precipitation will increase at high latitudes and "likely" it will decrease
              over most
              subtropical land regions. The pattern of these changes is similar to what has been observed during the
              20th century.</li>
          </ul>
          <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo1">Toggle Answers</button>
          <div id="demo1" class="collapse">
            <div class="row">
              <div class="col-md-12">
                <h4 class="mt-3">Answer 1</h4>
                <i>United intergovermental panel on climate change report that climatict changes in northern hemisphere
                  will
                  cause drastick change in sea current and will raise the sea level.</i>
                <h5 class="mt-3">Explanation</h5>
                <p>While the response includes one key detail, other information from the passage is omitted or
                  misinterpreted.
                  The response does not receive full credit for grammar because of missing or incorrect use of
                  prepositions
                  and verbs. The vocabulary used is appropriate for the context. There are three spelling errors.
                  Although
                  weakly constructed, the response is one complete sentence. The word count is 26 words.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h4 class="mt-3">Answer 2</h4>
                <i>Due to the latest report of IPCC about the wordwide climate, Green House Effect has affected the
                  earth severely
                  on various aspects.</i>
                <h5 class="mt-3">Explanation</h5>
                <p>The summary does not include any supporting points or key details. A minor grammatical mistake
                  prevents
                  this response from receiving full credit for grammar, although the intended meaning of the sentence
                  is clear.
                  The use of “due to” instead of “according to” makes it seem that the IPCC report caused the
                  greenhouse effect.
                  There is one spelling error. The response is one complete sentence of 22 words.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h4 class="mt-3">Answer 3</h4>
                <i>A new UN report finds that increasing surface temperatures around the world are causing rising sea
                  levels,
                  shrinking sea ice and snow cover, and changes in precipitation.</i>
                <h5 class="mt-3">Explanation</h5>
                <p>The topic has been accurately discussed and the supporting points are included. The vocabulary used
                  is precise.
                  All words are spelled correctly. The response is one complete sentence of 27 words.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade pt-3" id="test2" role="tabpanel" aria-labelledby="test2">
      <div class="row">
        <div class="col-md-12">
          <p>For millions of years, Mediterranean sea turtles have been coming to the shore of southern Lebanon to lay
            their
            eggs. Every summer, their babies hatch and literally run for their lives on the strip of sand that
            separates their
            nests from the sea. An endangered species, they had been largely ignored in this part of Lebanon until two
            women
            set out to protect them.</p>
          <p>Mona Khalil was inspired by a walk on the beach during a visit to her homeland, when she first saw the
            turtles.
            Upon learning that they were close to disappearing from her country, Khalil decided to "come back and do
            something
            about them."</p>
          <p>The next year, 2000, she returned and teamed up with Habiba Fayed, who shares her passion for the
            environment.
            They opened a bed-and- breakfast in the Khalil family home to finance their efforts. Guests could simply
            vacation
            or, in the spirit of ecotourism, they could help the owners protect the turtles' nests and keep the beach
            clean.</p>
          <p>Female turtles travel to the exact spot where they were born to dig their nests in the sand, laying an
            average
            of 70 to 100 eggs. This is the moment when the women intervene. They protect the nests from predators by
            burying
            an iron grid in the sand above the eggs. The spaces on the grid are large enough to allow the baby turtles
            to emerge
            after a month and find their way to the sea... and to a chance at life.</p>
          <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo2">Toggle Answers</button>
          <div id="demo2" class="collapse">
            <div class="row">
              <div class="col-md-12">
                <h4 class="mt-3">Answer 1</h4>
                <i>For the millions of years the turtles were coming laying their eggs in summer and the babies run
                  seperates
                  their nests, ignoring in war torn until two women set out to protect them and mona khalil saw the
                  turtles
                  and decided to do something so in the end the baby turtle to emerge after a month.</i>
                <h5 class="mt-3">Explanation</h5>
                <p>While the response includes some main points, other key information from the passage is omitted and
                  information
                  not in the passage is present. This response demonstrates limited control over simple grammatical
                  structures.
                  The vocabulary is basic. There is one spelling mistake. The response is one sentence of 56 words.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h4 class="mt-3">Answer 2</h4>
                <i>Mediterranean sea turtles which is an endangered species lay their 70 to 100 eggs at the shore of
                  southern
                  Lebanon but now Mona Khalil with her team protecting turtle's egg from dameging or from pradators by
                  buring
                  iron grid in the sand above the nests.
                </i>
                <h5 class="mt-3">Explanation</h5>
                <p>The topic has been accurately discussed and the supporting points are included. This response does
                  not receive
                  full credit for grammar because of missing or incorrect use of prepositions and verbs. The vocabulary
                  used
                  is appropriate for the context. There are three spelling errors. The response is one complete
                  sentence of
                  45 words.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h4 class="mt-3">Answer 3</h4>
                <i>After millions of years of being endangered in war-torn coast of southern Lebanon, Mediterranean sea
                  turtles
                  were finally protected by two women, Mona Khalil and Habiba Fayed, who opened a bed-and- breakfast
                  and with
                  the help of the guests, protected turtles’ eggs by burying an iron grid in the sand above the eggs.</i>
                <h5 class="mt-3">Explanation</h5>
                <p>The topic has been accurately discussed and the supporting points are included. This response
                  demonstrates
                  good control of standard English grammar with very few grammatical errors. The vocabulary used is
                  appropriate
                  for the context. All words are spelled correctly and the response is one complete sentence of 52
                  words.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-disqus></app-disqus>
</section>