<section class="main-section">
  <table class="table table-sm">
    <thead>
      <tr>
        <th>Part and section</th>
        <th>Item types</th>
        <th>Number of items</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan="5">Part 1: Speaking</td>
        <td><a href="" routerLink="/read-aloud">Read aloud</a></td>
        <td>6</td>
      </tr>
      <tr>
        <td><a href="" routerLink="/repeat-sentence">Repeat Sentence</a></td>
        <td>10</td>
      </tr>
      <tr>
        <td><a href="" routerLink="/describe-image">Describe Image</a></td>
        <td>6</td>
      </tr>
      <tr>
        <td><a href="" routerLink="/retell-lecture">Re-tell Lecture</a></td>
        <td>3</td>
      </tr>
      <tr>
        <td><a href="" routerLink="/answer-short-questions">Answer short questions</a></td>
        <td>10</td>
      </tr>
      <tr>
        <td rowspan="2">Part 1: Writing</td>
        <td><a href="" routerLink="/summarize-written-text">2 * Summarize written text</a></td>
        <td>2</td>
      </tr>
      <tr>
        <td><a href="" routerLink="/write-assay">Write Assay</a></td>
        <td>2</td>
      </tr>
      <tr>
        <td rowspan="5">Part 2: Reading</td>
        <td><a href="" routerLink="/mc-single-answer">Multiple-choice, choose single answer</a></td>
        <td>2</td>
      </tr>
      <tr>
        <td><a href="" routerLink="/mc-multiple-answers">Multiple-choice, choose multiple answers</a></td>
        <td>2</td>
      </tr>
      <tr>
        <td><a href="" routerLink="/reorder-paragraphs">Re-order paragraphs</a></td>
        <td>2</td>
      </tr>
      <tr>
        <td><a href="" routerLink="/reading-fill-blanks">Reading: Fill in the blanks</a></td>
        <td>4</td>
      </tr>
      <tr>
        <td><a href="" routerLink="/rw-fill-blanks">Reading and writing: Fill in the blanks</a></td>
        <td>5</td>
      </tr>
      <tr>
        <td rowspan="8">Part 3: Listening</td>
        <td><a href="" routerLink="/summarize-spoken-text">Summarize spoken text</a></td>
        <td>2</td>
      </tr>
      <tr>
        <td><a href="" routerLink="/listening-mc-answers">Multiple-choice, choose multiple answers</a></td>
        <td>2</td>
      </tr>
      <tr>
        <td><a href="" routerLink="/listening-fill-blanks">Fill in the blanks</a></td>
        <td>2</td>
      </tr>
      <tr>
        <td><a href="" routerLink="/highlight-correct-summary">Highlight correct summary</a></td>
        <td>2</td>
      </tr>
      <tr>
        <td><a href="" routerLink="/listening-mc-single-answer">Multiple-choice, choose single answer</a></td>
        <td>2</td>
      </tr>
      <tr>
        <td><a href="" routerLink="/select-missing-word">Select missing word</a></td>
        <td>2</td>
      </tr>
      <tr>
        <td><a href="" routerLink="/highlight-incorrect-words">Highlight incorrect words</a></td>
        <td>2</td>
      </tr>
      <tr>
        <td><a href="" routerLink="/write-from-dictation">Write from dictation</a></td>
        <td>3</td>
      </tr>
    </tbody>
  </table>
</section>