<section class="main-section">
  <h4 class="mt-4">
    In the text below some words are missing. Choose words from the box below to the appropriate place in the text.</h4>
  <ul class="nav nav-tabs pt-3" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="test1-tab" data-toggle="tab" href="#test1" role="tab" aria-controls="test1"
        aria-selected="true">Test
        1
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="test2-tab" data-toggle="tab" href="#test2" role="tab" aria-controls="test2" aria-selected="false">Test
        2
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="test3-tab" data-toggle="tab" href="#test3" role="tab" aria-controls="test3" aria-selected="false">Test
        3
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="test4-tab" data-toggle="tab" href="#test4" role="tab" aria-controls="test4" aria-selected="false">Test
        4
      </a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active pt-3" id="test1" role="tabpanel" aria-labelledby="test1">

      <div class="row">
        <div class="col-md-12">
          <p>Considering their lingering reputation as man-killers, it's hardly surprising that hackles are raised any
            time
            someone brings up the idea of
            <select>
              <option></option>
              <option>proponents</option>
              <option>reacquanting</option>
              <option>propensity</option>
              <option>reintroducing</option>
              <option>cite</option>
              <option>activists</option>
              <option>accuse</option>
            </select> wolves to the Scottish Highlands. Debate on this topic has been raging for years;
            <select>
              <option></option>
              <option>proponents</option>
              <option>reacquanting</option>
              <option>propensity</option>
              <option>reintroducing</option>
              <option>cite</option>
              <option>activists</option>
              <option>accuse</option>
            </select>would like to see the Highland environment returned to its natural state. Opponents
            <select>
              <option></option>
              <option>proponents</option>
              <option>reacquanting</option>
              <option>propensity</option>
              <option>reintroducing</option>
              <option>cite</option>
              <option>activists</option>
              <option>accuse</option>
            </select> the animals'
            <select>
              <option></option>
              <option>proponents</option>
              <option>reacquanting</option>
              <option>propensity</option>
              <option>reintroducing</option>
              <option>cite</option>
              <option>activists</option>
              <option>accuse</option>
            </select> for killing livestock.
          </p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
          <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo1">Toggle Answer</button>
          <div id="demo1" class="collapse mt-3">
            Considering their lingering reputation as man-killers, it's hardly surprising that hackles are raised any
            time someone brings
            up the idea of <span class="highlight">reintroducing</span> wolves to the Scottish Highlands. Debate
            on this topic has been raging for years;
            <span class="highlight">proponents</span> would like to see the Highland environment returned to its
            natural state.
            Opponents <span class="highlight">cite</span> the animals'
            <span class="highlight">propensity</span> for killing livestock.
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade show pt-3" id="test2" role="tabpanel" aria-labelledby="test2">
      <div class="row">
        <div class="col-md-12">
          <p>A charge often leveled against organic agriculture is that it is more philosophy than science. There's
            some truth
            to this indictment, if that is what it is, though why organic farmers should feel
            <select>
              <option></option>
              <option>supportive</option>
              <option>mimicking</option>
              <option>logic</option>
              <option>repeating</option>
              <option>credible</option>
              <option>defensive</option>
            </select> about it is itself a mystery, a relic, perhaps, of our fetishism of science as the only
            <select>
              <option></option>
              <option>supportive</option>
              <option>mimicking</option>
              <option>logic</option>
              <option>repeating</option>
              <option>credible</option>
              <option>defensive</option>
            </select> tool with which to approach nature. The philosophy of
            <select>
              <option></option>
              <option>supportive</option>
              <option>mimicking</option>
              <option>logic</option>
              <option>repeating</option>
              <option>credible</option>
              <option>defensive</option>
            </select> natural processes precedes the science of understanding them.
          </p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
          <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo2">Toggle Answer</button>
          <div id="demo2" class="collapse mt-3">
            A charge often leveled against organic agriculture is that it is more philosophy than science. There's some
            truth to this
            indictment, if that is what it is, though why organic farmers should feel <span class="highlight">defensive</span>
            about it is itself a mystery, a relic, perhaps, of our fetishism of science as the only <span class="highlight">credible</span>
            tool with which to approach nature. The philosophy of
            <span class="highlight">mimicking</span> natural processes precedes the science of understanding them.
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade show pt-3" id="test3" role="tabpanel" aria-labelledby="test3">
      <div class="row">
        <div class="col-md-12">
          <p><b>Master of science in Information Technology (MSc in IT)</b></p>
          <p>Our programme will develop your
            <select>
              <option></option>
              <option>ultimate</option>
              <option>variable</option>
              <option>analytical</option>
              <option>flexible</option>
              <option>theoretical</option>
              <option>condiderable</option>
              <option>decisive</option>
            </select> knowledge of Computer Science and your problem-solving and
            <select>
              <option></option>
              <option>ultimate</option>
              <option>variable</option>
              <option>analytical</option>
              <option>flexible</option>
              <option>theoretical</option>
              <option>condiderable</option>
              <option>decisive</option>
            </select> skills, while enabling you to achieve the
            <select>
              <option></option>
              <option>ultimate</option>
              <option>variable</option>
              <option>analytical</option>
              <option>flexible</option>
              <option>theoretical</option>
              <option>condiderable</option>
              <option>decisive</option>
            </select> qualification for the IT Professional. The programme structure is extremely
            <select>
              <option></option>
              <option>ultimate</option>
              <option>variable</option>
              <option>analytical</option>
              <option>flexible</option>
              <option>theoretical</option>
              <option>condiderable</option>
              <option>decisive</option>
            </select>, enabling you to personalise your MSc through a wide range of electives.
          </p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
          <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo3">Toggle Answer</button>
          <div id="demo3" class="collapse mt-3">
            Our programme will develop your <span class="highlight">theoretical</span> knowledge of Computer Science
            and your
            problem- solving and <span class="highlight">analytical</span> skills, while enabling you to achieve the
            <span class="highlight">ultimate</span> qualification for the IT professional. The programme structure is
            extremely
            <span class="highlight">flexible</span>, enabling you to personalise your MSc through a wide range of
            electives.
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade show pt-3" id="test4" role="tabpanel" aria-labelledby="test4">
      <div class="row">
        <div class="col-md-12">
          <p>
            Of course there were many different Enlightenments, and scholars still argue about which was the real
            torch-bearer ... However,
            despite their quarrelsome diversity, most Enlightenment thinkers shared certain intellectual traits
            <select>
              <option></option>
              <option>dislike</option>
              <option>insistence</option>
              <option>conclusion</option>
              <option>commitment</option>
              <option>thought</option>
              <option>rejection</option>
              <option>proposal</option>
              <option>belief</option>
            </select> on intellectual autonomy, a
            <select>
              <option></option>
              <option>dislike</option>
              <option>insistence</option>
              <option>conclusion</option>
              <option>commitment</option>
              <option>thought</option>
              <option>rejection</option>
              <option>proposal</option>
              <option>belief</option>
            </select> of tradition and authority as the infallible sources of truth, a
            <select>
              <option></option>
              <option>dislike</option>
              <option>insistence</option>
              <option>conclusion</option>
              <option>commitment</option>
              <option>thought</option>
              <option>rejection</option>
              <option>proposal</option>
              <option>belief</option>
            </select> of bigotry and persecution, a
            <select>
              <option></option>
              <option>dislike</option>
              <option>insistence</option>
              <option>conclusion</option>
              <option>commitment</option>
              <option>thought</option>
              <option>rejection</option>
              <option>proposal</option>
              <option>belief</option>
            </select> to free enquiry, a
            <select>
              <option></option>
              <option>dislike</option>
              <option>insistence</option>
              <option>conclusion</option>
              <option>commitment</option>
              <option>thought</option>
              <option>rejection</option>
              <option>proposal</option>
              <option>belief</option>
            </select> that (in Francis Bacon's words) knowledge is power.
          </p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
          <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo4">Toggle Answer</button>
          <div id="demo4" class="collapse mt-3">
            Of course there were many different Enlightenments, and scholars still argue about which was the real
            torch-bearer ... However,
            despite their quarrelsome diversity, most Enlightenment thinkers shared certain intellectual traits - <span
              class="highlight">insistence</span> on intellectual autonomy, a <span class="highlight">rejection</span>
            of tradition
            and authority as the infallible sources of truth, a <span class="highlight">dislike</span> of bigotry and
            persecution,
            a <span class="highlight">commitment</span> to free enquiry, a <span class="highlight">belief</span> that
            (in Francis
            Bacon's words) knowledge is power.
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-disqus></app-disqus>
</section>