<section class="main-section">
  <ul class="nav nav-tabs pt-3" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="test1-tab" data-toggle="tab" href="#test1" role="tab" aria-controls="test1"
        aria-selected="true">Test
        1
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="test2-tab" data-toggle="tab" href="#test2" role="tab" aria-controls="test2" aria-selected="false">Test
        2
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="test3-tab" data-toggle="tab" href="#test3" role="tab" aria-controls="test3" aria-selected="false">Test
        3
      </a>
    </li>

  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active pt-3" id="test1" role="tabpanel" aria-labelledby="test1">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-primary mt-3" data-toggle="collapse" data-target="#demo1">Toggle
              Answer</button>
          </div>
          <audio controls class="col-md-12 mt-3">
            <source src="/assets/Prompts/8 Write from dictation/Prompt_Write_from_dictation_Item_1.mp3" type="audio/mpeg">
            Your
            browser does not support the audio element.
          </audio>
          <div class="col-md-12 collapse mt-3" id="demo1">
            <p><b>Answer:</b>You must submit your assignments by next Friday at the latest.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade pt-3" id="test2" role="tabpanel" aria-labelledby="test2">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-primary mt-3" data-toggle="collapse" data-target="#demo2">Toggle
              Answer</button>
          </div>
          <audio controls class="col-md-12 mt-3">
            <source src="/assets/Prompts/8 Write from dictation/Prompt_Write_from_dictation_Item_2.mp3" type="audio/mpeg">
            Your
            browser does not support the audio element.
          </audio>
          <div class="col-md-12 collapse mt-3" id="demo2">
            <p><b>Answer:</b>The time of the (maths, math) lecture has been changed to (ten thirty, 10.30, 10:30).
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade pt-3" id="test3" role="tabpanel" aria-labelledby="test3">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-primary mt-3" data-toggle="collapse" data-target="#demo3">Toggle
              Answer</button>
          </div>
          <audio controls class="col-md-12 mt-3">
            <source src="/assets/Prompts/8 Write from dictation/Prompt_Write_from_dictation_Item_3.mp3" type="audio/mpeg">
            Your
            browser does not support the audio element.
          </audio>
          <div class="col-md-12 collapse mt-3" id="demo3">
            <p><b>Answer:</b>Final year business students have to write a (5000, 5,000, five thousand, 5 thousand) word
              essay on
              market
              trends.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-disqus></app-disqus>
</section>