<section class="main-section">
  <h1 class="mt-3">Speaking</h1>
  <p>This part of the test consists of some questions where an audio is listened to and then a spoken response given.
    In the
    actual PTE Academic test a personal introduction is given, but this is not included in this practice test.</p>
  <table class="table">
    <thead>
      <tr>
        <th>Section</th>
        <th>Item type</th>
        <th>Time Allowed</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Section 1</td>
        <td>Personal introduction</td>
        <td>1 minute</td>
      </tr>
      <tr>
        <td rowspan="5">Section 2</td>
        <td><a href="" routerLink="/read-aloud">Read aloud</a></td>
        <td rowspan="5">30-35 minutes</td>
      </tr>
      <tr>
        <td><a href="" routerLink="/repeat-sentence">Repeat Sentence</a></td>
      </tr>
      <tr>
        <td><a href="" routerLink="/describe-image">Describe Image</a></td>
      </tr>
      <tr>
        <td><a href="" routerLink="/retell-lecture">Re-tell Lecture</a></td>
      </tr>
      <tr>
        <td><a href="" routerLink="/answer-short-questions">Answer short questions</a></td>
      </tr>
    </tbody>
  </table>
  <h2>Personal introduction</h2>
  <p>This is an opportunity to give your
    selected institutions some
    information about yourself. This
    item is not scored.
    The recording status box displays a
    countdown until the microphone opens.
    You have 25 seconds to prepare.
    After the tone, start speaking
    immediately. Do not start speaking
    before the microphone opens because
    your voice will not be recorded.
    You should speak clearly. There is no
    need to rush.
    You have 30 seconds to record your
    response. Finish speaking before the
    progress bar reaches the end. The word
    “Recording” changes to “Completed’’.
    You are only able to record your
    answer once.
    Your response will be sent together
    with your score report to the
    institutions selected by you.</p>
  <h2>Speaking & Reading: Read aloud</h2>
  <p>For this item type you need to read
    a written text aloud.
    The recording status box displays a
    countdown until the microphone opens.
    You have 30-40 seconds to prepare,
    depending on the length of the
    passage. You hear a short tone. After
    the tone, start speaking immediately.
    Do not start speaking before the
    microphone opens because your voice
    will not be recorded.
    You should speak clearly. There is no
    need to rush.
    Finish speaking before the progress bar
    reaches the end. The word “Recording”
    changes to “Completed”.
    You are only able to record your
    response once. </p>
  <h2>Speaking & Listening: Repeat sentence</h2>
  <p>For this item type you need to
    repeat the sentence you hear.
    The audio begins to plays automatically.
    When the audio finishes, the microphone
    opens and the recording status box
    shows “Recording”. Speak into the
    microphone immediately (there is no
    short tone) and repeat exactly what you
    heard.
    You should speak clearly. There is no
    need to rush.
    Finish speaking before the progress bar
    reaches the end. The word “Recording”
    changes to “Completed”.
    You are not able to replay the audio. You
    are only able to record your response
    once.</p>
  <h2>Speaking: Describe image</h2>
  <p>For this item type you need to
    describe an image.
    The recording status box displays a
    countdown until the microphone opens.
    You have 25 seconds to study the
    image and prepare your response.
    You hear a short tone. After the tone,
    start speaking immediately. Do not
    start speaking before the microphone
    opens because your voice will not be
    recorded.
    You should speak clearly. There is no
    need to rush.
    Finish speaking before the progress bar
    reaches the end. The word “Recording”
    changes to “Completed’’.
    You are only able to record your
    response once. </p>
  <h2>Speaking & Listening: Re-tell lecture</h2>
  <p>For this item type you need to re-tell
    what you heard.
    The audio begins to play automatically.
    You may also see an image related to
    the audio. After the audio finishes, you
    have 10 seconds to prepare.
    The recording status box displays a
    countdown until the microphone opens.
    You hear a short tone. After the tone,
    start speaking immediately. Do not start
    speaking before the microphone opens
    because your voice will not be recorded.
    You should speak clearly. There is no
    need to rush.
    Finish speaking before the progress bar
    reaches the end. The word “Recording”
    changes to “Completed’’.
    You are only able to record your
    response once.
    Note: While the audio is playing, you can
    take notes on the erasable noteboard
    provided. </p>
  <h2>Speaking & Listening: Answer short question</h2>
  <p>For this item type you need to reply
    to the question in one or a few
    words.
    The audio begins to play automatically.
    You may also see an image.
    When the audio finishes, the microphone
    opens and the recording status box
    shows “Recording”. Speak into the
    microphone immediately (there is no
    short tone) and answer the question
    with one or a few words.
    You should speak clearly. There is no
    need to rush.
    Finish speaking before the progress bar
    reaches the end. The word “Recording”
    changes to “Completed”.
    You are not able to replay the audio. You
    are only able to record your response
    once. </p>
</section>