<section class="home-section">
  <div class="row" align="center">
    <div class="col-md-12">
      <img class="img-fluid" src="/assets/images/PTE-Academic-Exam-Preparation.png">
    </div>
    <div class="col-md-12 mt-3">
      <p class="p-3">This PTE Academic Offline Practice Test includes a combination of items covering each of the
        language skills
        –
        speaking,
        writing, reading and listening – as assessed in the actual test. Most of the content includes items from the
        online
        unscored
        practice test.</p>
    </div>
    <div class="col-md-3">
      <div class="menu-item">
        <a href="" routerLink="/speaking">
          <h3>Speaking</h3>
          <i class="material-icons g-icon">record_voice_over</i>
          <p>This part of the test consists of some questions where an audio is listened to and then a
            spoken response given. In the actual PTE Academic test a personal introduction is given, but this is not
            included in this practice test.</p>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="menu-item">
        <a href="" routerLink="/writing">
          <h3>Writing</h3>
          <i class="material-icons g-icon">assignment</i>
          <p>Writing sections contain a number of individually-timed items. Test takers are required
            to write two summaries and
            one essay OR three summaries and one essay OR two summaries and two essays.</p>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="menu-item">
        <a href="" routerLink="/reading">
          <h3>Reading</h3>
          <i class="material-icons g-icon">chrome_reader_mode</i>
          <p>This section includes reading exercises.</p>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="menu-item">
        <a href="" routerLink="/listening">
          <h3>Listening</h3>
          <i class="material-icons g-icon">hearing</i>
          <p>This part of the test consists of questions that are based on audio or video clips. Each
            audio or video clip is heard only once and notes can be taken.</p>
        </a>
      </div>
    </div>
  </div>
</section>
<section id="footer-menu">
  <div class="row mt-2 p-3" align="center">
    <div class="col-md-3">
      <ul class="list-inline">
        <li><a href="" routerLink="/repeat-sentence">Repeat Sentence</a></li>
        <li><a href="" routerLink="/describe-image">Describe Image</a></li>
        <li><a href="" routerLink="/retell-lecture">Re-tell Lecture</a></li>
        <li><a href="" routerLink="/answer-short-questions">Answer short questions</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <ul class="list-inline">
        <li><a href="" routerLink="/summarize-written-text">2 * Summarize written text</a></li>
        <li><a href="" routerLink="/write-assay">Write Assay</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <ul class="list-inline">
        <li><a href="" routerLink="/mc-single-answer">Multiple-choice, choose single answer</a></li>
        <li><a href="" routerLink="/mc-multiple-answers">Multiple-choice, choose multiple answers</a></li>
        <li><a href="" routerLink="/reorder-paragraphs">Re-order paragraphs</a></li>
        <li><a href="" routerLink="/reading-fill-blanks">Reading: Fill in the blanks</a></li>
        <li><a href="" routerLink="/rw-fill-blanks">Reading and writing: Fill in the blanks</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <ul class="list-inline">
        <li><a href="" routerLink="/summarize-spoken-text">2 or 3 Summarize spoken text</a></li>
        <li><a href="" routerLink="/listening-mc-answers">Multiple-choice, choose multiple answers</a></li>
        <li><a href="" routerLink="/listening-fill-blanks">Fill in the blanks</a></li>
        <li><a href="" routerLink="/highlight-correct-summary">Highlight correct summary</a></li>
        <li><a href="" routerLink="/listening-mc-single-answer">Multiple-choice, choose single answer</a></li>
        <li><a href="" routerLink="/select-missing-word">Select missing word</a></li>
        <li><a href="" routerLink="/highlight-incorrect-words">Highlight incorrect words</a></li>
        <li><a href="" routerLink="/write-from-dictation">Write from dictation</a></li>
      </ul>
    </div>
  </div>
</section>